@media (max-width: 1550px) {
    .company-profile {
    }
    .result {
        #map {
            width: 42vw;
        }
    }
}
@media (max-width: 1490px) {
    .company-profile {
    }
    .top__slaider-box {
        width: 350px;
        img {
            width: 330px;
            height: 247px;
        }
    }
    .top-slick-next {
        right: 40px;
    }

    .blog__wrapp {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 350px;
            .blog__box-head {
                max-width: 350px;

                img {
                    max-width: 350px;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .company-profile {
        .info-row-col {
            width: 314px;
        }
        .schedule {
            padding-right: 50px;
        }
    }
    .approve-search-box {
        width: 400px;
        position: relative;
    }
    .booking__slaider-wrapp {
        max-width: 760px;
    }
    .resent {
        padding-left: 25px;
        padding-right: 25px;
    }
    .sidebar__right-head {
        background: url("../../assets/img/sidebar__right-head.svg") no-repeat left 0 top,
            url("../../assets/img/sidebar__right-head.svg") no-repeat right 5% top, #5eaf8c;

        padding: 16px 34px 0 45px;
    }
    .sidebar__right {
        width: 70%;
    }
    .benefit-box-text.--two {
        width: 207px;
        bottom: 158px;
    }
    .benefit-img-wrapp-1 {
        top: -47px;
        right: 51px;
    }
    .about-coll {
        margin-right: 20px;
    }
    .about__box-img {
        img {
            width: 600px;
        }
    }
    .player_filter {
        .player__filter-btn {
            margin-right: 10px;
        }
        .player_filter-box.five {
            width: 165px;
        }
        .player_filter-box.four {
            width: 130px;
        }
        .player_filter-box.three {
            width: 110px;
        }
        .player_filter-box.two {
            width: 130px;
        }
    }
    .result__box.active {
        width: 643px;
    }
    .result__box.active .result__box-head {
        margin-right: 10px;
    }
    .result {
        #map {
            width: 40vw;
        }
    }
    .footer-menu {
        width: 390px;
    }

    .who__wrapp {
        padding-left: 30px;
        padding-right: 30px;
    }
    .finder__coll {
        width: 60%;
    }
    .who__coll {
        width: 40%;
    }
    .who__inner {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .finder-mess {
        width: 170px;
        &::before {
            left: 20px;
        }
    }
    .top-slick-next {
        right: -15px;
    }
    .peculiarities__box-img.one img {
        width: 375px;
        height: 540px;
    }
    .peculiarities__box-img.three img {
        width: 220px;
        height: 300px;
    }
    .peculiarities__box-img.two img {
        width: 215px;
        height: 215px;
    }
    .peculiarities__wrapp {
        width: 90%;
    }
}
@media (max-width: 1200px) {
    .company-profile {
        .courts {
            padding-left: 30px;
            padding-right: 30px;
        }
        .schedule {
            padding-right: 15px;
            padding-left: 15px;
        }
        .info {
            padding-left: 25px;
            padding-right: 25px;
        }
        .sidebar-close-btn.info-title {
            padding-left: 25px;
        }
        .info-row-col {
            width: 267px;
        }
    }
    .approve-search-box {
        width: 270px;
        position: relative;
    }
    .approve-box {
        flex-direction: column;
    }
    .approve-box-coll-2 {
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
    }
    .approve-head {
        justify-content: space-between;
    }
    .booking__slaider-wrapp {
        max-width: 580px;
    }
    .resent-card {
        width: 380px;
    }
    .resent-head {
        width: 72px;
        height: 63px;
        img {
            width: 72px;
            height: 63px;
        }
    }
    .resent-name {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .resent-coll:nth-child(1) {
        margin-bottom: 20px;
    }
    .resent-coll-2 {
        .resent-row:nth-child(1) {
            margin-bottom: 10px;
        }
    }
    .resent-body {
        flex-direction: column;
        align-items: baseline;
    }
    .sidebar__right-row {
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
    }
    .sidebar__right-head {
        padding-right: 0;
    }
    .sidebar__right-head {
        padding-top: 0;
    }
    .sidebar-img-box {
        top: 3px;
        img {
            width: 286px;
            height: 244px;
        }
        &:before {
            width: 263px;
            height: 263px;
        }
    }

    .sidebar__right {
        width: 66%;
    }
    .benefit-img-2 {
        margin-left: 0;
    }

    .benefit-box-text {
        left: 224px;
    }
    .benefit-img-wrapp-1 {
        top: -47px;
        right: 10px;
    }
    .about__box-img {
        img {
            width: 355px;
        }
    }
    .related-wrapp {
        .blog__box {
            width: 295px;
            .blog__box-head {
                width: 295px;
                img {
                    width: 295px;
                }
            }
        }
    }
    .blog__wrapp {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 344px;
            .blog__box-head {
                width: 344px;
                height: 243px;
                img {
                    width: 344px;
                    height: 243px;
                }
            }
        }
    }
    .player_filter {
        .player_filter-box.five {
            width: 86px;
        }
        .player_filter-box.four {
            width: 100px;
        }
        .player_filter-box.three {
            width: 100px;
        }
        .player_filter-box.two {
            width: 110px;
        }
    }
    .result__box.active {
        max-width: 543px;
    }
    .result__box.active .result__box-head {
        margin-right: 15px;
        width: 206px;
        img {
            margin-right: 15px;
            width: 206px;
        }
    }
    .search-form {
        .main__box-inner:nth-child(2) {
            width: 90px;
        }
        .main__box-inner {
            width: 130px;
        }
        .calendar__container {
            left: -282%;
        }
    }
    .footer-menu {
        max-width: 370px;
        margin-left: 15px;
    }
    .footer__form-inner {
        max-width: 310px;
    }
    .who__wrapp {
        padding-top: 25px;
        align-items: flex-end;
    }
    .what__wrapp {
        gap: 10px;
        grid-template-columns: 1.3fr 1fr 1fr;
    }
    .who__coll-2 {
        width: 45%;
        img {
            width: 100%;
        }
    }
    .finder-account-btn,
    .finder-find-btn {
        width: 180px;
    }
    .finder__review.--one {
        position: absolute;
        right: 5px;
        top: 35px;
    }
    .finder__review.--two {
        position: relative;
        top: 20px;
        left: 8px;
    }
    .finder-mess {
        position: relative;
        top: 23px;
        right: -25px;
    }
    .top__slaider-box {
        width: 290px;
        img {
            width: 275px;
            height: 247px;
        }
    }
    .peculiarities-btn.btn {
        margin-left: 15px;
    }
    .peculiarities__box-img.one img {
        width: 280px;
        height: 450px;
    }
    .peculiarities__wrapp-title {
        margin-bottom: 35px;
    }
    .peculiarities__box-content {
        padding: 19px 15px;
    }
    .peculiarities__box-img.three img {
        width: 180px;
        height: 250px;
    }
    .peculiarities__box-img.two img {
        width: 180px;
        height: 180px;
    }
    .peculiarities__wrapp {
        width: 100%;
    }
    .time__container {
        left: auto;
        right: 0;
    }
    .main__form-box.autocomplete-box {
        width: 230px;
    }
    .calendar__container {
        left: -190%;
    }
}

@media (max-width: 1080px) {
    .company-profile {
        .info-row-col {
            width: 240px;
        }
    }
    .sidebar__right-head {
        padding-left: 15px;
    }
    .sidebar-img-box {
        left: 9px;
    }
    .sidebar__right {
        width: 60%;
    }
    .article__box-btn {
        top: 0;
        margin-top: 10px;
        margin-bottom: 13px;
    }
}
@media (max-width: 998px) {
    .new__wrapp {
        width: 100%;
        background: #fff;
        padding: 47px 20px 120px 20px;
        border-radius: 40px 40px 0 0;
    }
    .new-title {
        margin-bottom: 0;
        padding-bottom: 29px;
        justify-content: center;
        padding-top: 21px;
    }
    .new-close-two {
        width: 100%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        position: relative;
        &::before {
            content: url("../../assets/img/head-arrow.svg");
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .new {
        padding: 0;
        position: relative;
    }
    .new-close {
        width: 90%;
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
    }
    .company-profile {
        .courts-mob-box {
            display: block;
        }
        .courts {
            background: #35362e;
            padding: 0;
            position: relative;
        }
        .courts-wrapper {
            background: #ffffff;
            border-radius: 40px 40px 0 0;
            padding: 110px 19px 34px 19px;
        }
        .sidebar-close-btn.courts-title {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
        .courts-btn-add-box {
            position: absolute;
            top: 110px;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            background: #c2e631;
            border-radius: 4px;
        }
        .courts-btn-add {
            margin: 0 auto;
        }
        .info-row-col {
            width: 100%;
        }
        .sidebar-container {
            background: #35362e;
        }
        .info__user-foto {
            width: 107px;
            height: 107px;
            position: relative;
            img {
                width: 107px;
                height: 107px;
            }
        }

        .schedule {
            padding: 0;
        }
        .info-row-col.--one {
            margin: 0 auto;
            position: relative;
            width: 107px;
            height: 107px;
        }
        .btn-add-file {
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(17%, 17%);
            width: 100%;
            border-radius: 50%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)),
                url("../../assets/img/camera-1.svg") no-repeat center center;
        }
        .btn-add-file-span {
            display: none;
        }
        .company-info-wrapp {
            padding-top: 12px;
        }
        .info-row {
            margin-bottom: 66px;
        }
        .info-row-col {
            margin-bottom: 10px;
        }
        .info-change-password {
            position: relative;
            top: -23px;
        }
        .quest-btn {
            margin-top: 33px;
            margin-bottom: 33px;
        }
        .company-info-wrapp {
            min-height: 1000px;
        }
        .sidebar-close-btn.info-title {
            padding-left: 0;
        }
        .book-left {
            border-radius: 0;
        }
        .schedule-title {
            display: none;
        }
        .schedule-close-mob {
            display: block;
        }

        .schedule-mob-head {
            padding: 41px 22px 20px 22px;
            background: #ffffff;
            border-radius: 40px 40px 0 0;
            .schedule-close {
                width: 100%;
                padding: 10px;
                border: 1px solid #eaf0f8;
                border-radius: 12px;
            }
        }
    }

    .book-week-popup {
        left: 50%;
    }

    .booking-popup {
        left: 50%;
        transform: translateX(-50%);
    }
    .approve {
        padding: 0;
    }
    .approve-inner {
        background: #fff;
        padding: 48px 20px 48px 20px;
        border-radius: 40px 40px 0 0;
    }
    .approve-search-box {
        width: 60%;
    }
    .approve-box-coll-2 {
        margin-top: 0;
        flex-direction: column;
    }
    .approve-box {
        flex-direction: row;
    }
    .sidebar-close-btn.resent-title,
    .sidebar-close-btn.courts-title {
        background: none;
        color: #fff;
        text-align: center;
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 19px;
        padding-left: 0;
        &::before {
            content: url("../../assets/img/head-arrow.svg");
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .profile-wrapper {
        position: relative;
    }
    .sidebar__left {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
    }
    .sidebar__left.active {
        position: absolute;
    }
    .sidebar__right {
        background: #35362e;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transform: translateX(300%);
        transition: 0.8s all ease-in-out;
    }
    .sidebar__right.active {
        position: relative;
        transform: translateX(0);
    }
    .player_filter {
        .autocomplete-box.active {
            border: none !important;
        }
        .search-place-filter {
            display: block;
        }
        .player_filte-container {
            padding-bottom: 16px;
        }
        .player_filter-mob {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .search-place-filter {
                padding-top: 8px;
            }
        }

        .player_filter-mob-info {
            display: inline-block;
            font-weight: normal;
            font-size: 12px;
            line-height: 170%;
            color: #3a3f43;
            background: #f9f9f9;
            border-radius: 4px;
            min-width: 100px;
            padding: 8px 9px;
            margin-right: 6px;
            margin-bottom: 11px;
        }
        .player_filter-box {
            display: none;
        }
        .player_filter-box.one {
            display: block;
        }

        .player_filter-wrapp {
            flex-direction: column;
            align-items: flex-start;
        }
        .player_filter-box.five {
            width: 86px;
        }
        .player_filter-box.four {
            width: 100px;
        }
        .player_filter-box.three {
            width: 100px;
        }
        .player_filter-box.two {
            width: 110px;
        }
        .player__filter-btn.btn {
            display: none;
        }
        .player__filter-box-title {
            display: none;
        }
        .player_filter-wrapp {
            padding-top: 80px;
            position: relative;
        }
        .player_filter-box.one {
            margin-right: 0;
            padding: 0;
            border-radius: 4px;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 0;
            width: 100% !important;
            &::before {
                content: url("../../assets/img/search.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            .main-form-input {
                height: 52px;
                width: 100%;
                padding: 17px 39px;
                background: #ffffff;
                border: 1px solid #f7f4f4;
                border-radius: 4px;
            }
        }

        .player_filter-box.one.active {
            &::before {
                content: url("../../assets/img/search-active.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15) !important;
            border-radius: 4px;

            .autocomplete-items {
                top: 100% !important;
                border-radius: 0 0 4px 4px !important;
                box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15);
            }

            .search-mobil-btn {
                display: block;
                border: none;
                outline: none;
                cursor: pointer;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .result__box.active {
        display: block;
        max-width: 320px;
        .result__box-head img {
            margin-right: 0;
            width: 290px;
        }
    }
    .result #map {
        width: 50vw;
    }
    .who__wrapp {
        flex-direction: column;
    }
    .who__coll {
        width: 100%;
        max-width: 100%;
        margin-bottom: 52px;
    }
    .finder {
        padding-bottom: 70px;
    }
    .who__coll-2 {
        width: 50%;
        margin: 0 auto;
    }
    .finder-account-btn,
    .finder-find-btn {
        width: 202px;
    }

    .finder__wrapp {
        flex-direction: column;
    }
    .finder__review {
        display: none;
    }
    .finder-row.two {
        display: none;
    }
    .top-slick-next {
        right: 5px;
    }
    .statistics {
        padding-bottom: 20px;
    }
    .finder__coll-1 {
        max-width: 100%;
    }
    .finder__coll {
        position: absolute;
        bottom: 100px;
    }
    .finder-text {
        margin-bottom: 173px;
    }
    .finder__wrapp {
        position: relative;
    }
    .finder {
        padding-top: 20px;
    }
    .main__form-box.autocomplete-box {
        width: 155px;
        padding-left: 5px;
    }
    .calendar__container {
        left: auto;
        right: -274px;
    }
    .main-form {
        padding-right: 5px;
    }
    .main__box-inner {
        width: 115px;
        padding-left: 5px;
    }
}
@media (max-width: 992px) {
    .company-profile {
        .sidebar__left {
            width: 100%;
            margin: 0;
            padding: 0;
            padding-top: 5px;
        }
        .sidebar-avatar {
            width: 68px;
            height: 68px;
            margin-right: 17px;

            img {
                width: 68px;
                height: 68px;
            }
        }
        .sidebar__left-head {
            padding-top: 29px;
            padding-bottom: 29px;
            align-items: center;
            margin-bottom: 14px;
        }
        .sidebar-btn {
            padding-left: 18px;
        }
        .logout-profile-btn {
            margin-left: 0px;
            margin-top: 7px;
        }
        .company-wrapper {
            min-height: 525px;
        }
    }
    .book {
        display: none;
    }
    .booking-btn-mob {
        display: block;
    }
    .booking-box-choice {
        display: flex;
    }
    .booking__opening-title-mobil {
        display: block;
    }
    .booking__slaider-img {
        height: 443px;
    }
    .booking__slaider-wrapp {
        max-width: 100%;
    }
    .booking__opening,
    .booking__opening-head {
        width: 100%;
    }
    .bookinkg__head {
        flex-direction: column;
        gap: 0;
    }
    .mess-tab-title {
        display: none;
    }
    .mess-tab {
        display: none;
        background: #35362e;
        border-radius: 0;
        padding: 0;
        top: 0;
        .chat__wrapper {
            box-shadow: none;
        }
        .mess-chat-body {
            background: #fff;
            border-radius: 40px 40px 0 0;
            margin-top: -1;
        }
        .mess-chat-head {
            padding-top: 15px;
            padding-bottom: 5px;
            .mess__chat-name {
                color: #fff;
            }
        }
        .mess-btn-svg {
            fill: #fff;
        }
        textarea:focus,
        textarea:active {
            outline: none;
        }
    }

    .message-box {
        height: 660px;
    }
    .message-box-title-mob {
        display: block;
        padding-left: 18px;
    }
    .message__box-row.active {
        background: rgba(183, 183, 183, 0.1);
        border-radius: 8px;
    }

    .payment-label {
        display: block;
    }
    .resent .show {
        width: 100%;
    }
    .resent-card {
        width: 100%;
    }
    .resent-head {
        width: 121px;
        height: 97px;
        img {
            width: 121px;
            height: 97px;
        }
    }
    .payment-btn {
        width: 100%;
    }
    .resent-name {
        margin-top: 13px;
        margin-bottom: 17px;
    }
    .resent-coll:nth-child(1) {
        margin-bottom: 20px;
    }
    .resent-coll-2 {
        .resent-row:nth-child(1) {
            margin-bottom: 10px;
        }
    }
    .resent-body {
        flex-direction: row;
        align-items: baseline;
    }

    .info-change-wrapp {
        border-radius: 40px 40px 0 0;
    }
    .info-change-btn {
        width: 100%;
    }
    .info-change-title {
        display: block;
    }
    .container.profile-container {
        padding-left: 0;
        padding-right: 0;
    }
    .info,
    .resent,
    .payment,
    .message {
        margin-bottom: 0;
        border-radius: 40px 40px 0 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .message {
        padding-right: 8px;
        padding-left: 8px;
    }
    .payment {
        padding-top: 30px;
        min-height: 700px;
    }
    .resent__box-title-dectop {
        display: none;
    }
    .resent__box-title-mobil {
        display: block;
    }
    .resent {
        padding-top: 35px;
    }
    .quest {
        margin-top: -1px;
        padding-top: 0;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .quest-btn {
        width: 100%;
    }
    .quest-btn-desc {
        display: none;
    }
    .quest-btn-mob {
        display: block;
    }
    .sidebar-close-btn.info-title,
    .sidebar-close-btn.resent-title,
    .sidebar-close-btn.payment-title,
    .sidebar-close-btn.message-title {
        background: none;
        color: #fff;
        text-align: center;
        position: relative;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 19px;
        padding-left: 0;
        &::before {
            content: url("../../assets/img/head-arrow.svg");
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .info__user-name {
        display: none;
    }
    .info-row-col.--one.-mbl {
        width: 107px;
        height: 107px;
        margin: 29px auto 11px;
        position: relative;
        background: 50%;
        overflow: hidden;
        border: none;
        .btn-add-file-span.btn {
            display: none;
        }
        .btn-add-file {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;

            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)),
                url("../../assets/img/camera-1.svg") no-repeat center center;
        }
    }
    .info-row-col.--one {
        width: 100%;
        border: none;
        .info__status-title {
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            margin: 0;
            margin-bottom: 11px;
            padding: 0;
        }
        .info__sratus-row {
            justify-content: center;
        }
        margin-bottom: 25px;
    }
    .info-row-col {
        width: 100%;
    }
    .info-row-col {
        margin-bottom: 11px;
    }
    .quest-textarea {
        width: 100%;
    }
    .password-box.--two {
        margin-bottom: 0;
    }
    .info__user-foto {
        position: absolute;
        left: 0;
        top: 0;
        width: 107px;
        height: 107px;

        img {
            width: 107px;
            height: 107px;
        }
    }
    .info-row-col {
        margin-bottom: 0;
    }
    .info-row,
    .info-row:nth-child(2),
    .info-row:nth-child(3),
    .info-row:nth-child(4),
    .quest-row {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }
    .quest__label {
        margin-bottom: 10px;
    }
    .quest-row {
        margin-bottom: 40px;
    }
    .quest-row:nth-child(5) {
        margin-bottom: 20px;
    }
    .info-change-password {
        display: block;
    }
    .quest-row.--quest-flex {
        flex-direction: row;
        width: 100%;
        .quest-row-coll {
            width: 164px;
            margin-right: 10px;
        }
    }
    .sidebar__right-head {
        display: none;
    }
    .sidebar__left {
        width: 92%;
        background: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 47px;
        margin-right: 310px;
        margin-left: 15px;
    }

    .sidebar__left-head,
    .sidebar__left-nav {
        background: #fff;
        border-radius: 16px;
    }
    .sidebar-avatar {
        width: 77px;
        height: 77px;
        margin: 0;

        margin-right: 25px;
        img {
            width: 77px;
            height: 77px;
        }
    }
    .sidebar-btn.active {
        background: url("../../assets/img/sidebar-arrow.svg") no-repeat center right 15px;
        font-weight: normal;
    }
    .sidebar__left-head {
        display: flex;
        justify-content: flex-start;
        position: relative;
        padding-bottom: 35px;
        padding-top: 20px;
    }

    .sidebar__head-age {
        left: 0;
        text-align: left;
    }
    .sidebar__head-name {
        left: 0;
        text-align: left;
    }

    .sidebar-head-btn {
        display: block;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .sidebar__head-place {
        left: 0;
        text-align: left;
    }
    .sidebar-btn {
        margin-bottom: 2px;
        padding-left: 25px;
        background: url("../../assets/img/sidebar-arrow.svg") no-repeat center right 15px;
    }
    .sidebar-mess-sum {
        position: relative;
        margin-left: 15px;
    }
    .sidebar__left-head {
        margin-bottom: 11px;
    }
    .sidebar__left-nav {
        border-radius: 16px;
        margin-bottom: 11px;

        padding: 17px 24px 19px 9px;
    }
    .profile {
        padding-top: 3px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .sidebar__right-head.--mobile {
        display: flex;
        padding: 10px 23px 0 23px;
        background: url("../../assets/img/mob.svg") no-repeat center center, #66c19a;

        .finder__player-img {
            width: 15px;
            height: 15px;
        }
    }
    .sidebar__right-link {
        display: none;
    }
    .sidebar__right-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 110.52%;
    }
    .sidebar__right-row-title {
        font-size: 24px;
        line-height: 132%;
    }

    .sidebar__right-row-span {
        font-size: 14px;
        line-height: 116%;
    }
    .sidebar-img-box {
        &::before {
            width: 0;
            height: 0;
        }
        img {
            width: 154px;
            height: 128px;
        }
    }
    .brands__wrapp {
        width: 450px;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .benefit__wrapp {
        flex-direction: column;
    }
    .benefit-box-img {
        width: 435px;
        margin-bottom: 37px;
    }
    .benefit-title.--mobil {
        display: block;
    }
    .benefit-title {
        margin-bottom: 37px;
    }
    .benefit-title.--desctop {
        display: none;
    }
    .benefit-box-text {
        left: 280px;
    }
    .statistics-about {
        .statistics__wrapp {
            margin-top: 95px;
            background: #404040;
            border-radius: 21px;
        }
        .statistics__box-title,
        .statistics__box-subtitle {
            color: #fff;
        }
    }
    .about__wrapp {
        flex-direction: column;
    }
    .about-coll {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .about__box-img {
        img {
            width: 100%;
        }
    }
    .related-wrapp {
        .related-next {
            right: 23px;
        }
    }
    .blog-btn.active {
        background: #c2e631;
        border: 1px solid #c2e631;
    }
    .blog-btn {
        flex-shrink: 0;
    }
    .blog__wrapper {
        overflow-y: auto;

        flex-wrap: nowrap;
        display: flex;
    }
    .blog__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .blog__wrapper::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .blog__wrapp {
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 300px;
            .blog__box-head {
                max-width: 300px;

                img {
                    max-width: 300px;
                }
            }
        }
        .blog__box {
            max-width: 300px;
            .blog__box-head {
                max-width: 300px;

                img {
                    max-width: 300px;
                }
            }
        }
    }
    .search-form {
        .main__form-box.autocomplete-box:nth-child(2) {
            width: 130px;
        }
        .main__form-box.autocomplete-box {
            width: 183px;
        }
    }
    .footer-wrapp {
        display: block;
    }
    .footer-coll {
        margin-bottom: 40px;
    }
    .footer-menu {
        margin-left: 0;
    }
    .what__wrapp {
        grid-template-columns: 1fr 1fr;
    }
    .what__wrapp .what__box:first-child {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .what__wrapp .what__box:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .statistics__box-title {
        font-size: 32px;
        line-height: 121.02%;
    }
    .statistics__box-subtitle {
        font-size: 14px;
        line-height: 121.02%;
    }
    .statistics__wrapp {
        padding: 40px;
    }
    .peculiarities__wrapp {
        flex-direction: column;
    }
    .peculiarities__coll {
        max-width: 100%;
    }
    .peculiarities__coll.two {
        width: 100%;
        flex-direction: column-reverse;
    }
    .peculiarities__box-img.two {
        display: none;
    }
    .peculiarities__box-img.three {
        display: none;
    }
    .peculiarities__box-img.one {
        position: relative;
        &::before {
            content: url("../../assets/img/img-4.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        margin-right: 0;
        img {
            width: 100%;
        }
    }
}
@media (max-width: 710px) {
    .popup-player {
        width: 95%;
    }
}
@media (max-width: 778px) {
    .new-row {
        flex-direction: column;
        margin-bottom: 5px;
    }
    .new-row-coll {
        margin-bottom: 22px;
    }
    .new__wrapp-title-2 {
        margin-bottom: 20px;
    }
    .new-row-2 {
        flex-direction: column;
        align-items: baseline;
        .new-row-wrapper {
            &:nth-child(1) {
                margin-bottom: 27px;
            }
        }
    }
    .new-close {
        bottom: 25px;
    }
    .new-input-text {
        margin-bottom: 13px;
    }

    .new-foto-row {
        margin-bottom: 40px;
    }
    .company-profile {
        .schedule-wrapp {
            display: none;
        }
        .schedule-mob-body {
            display: block;
        }
    }
    .approve-search-line {
        flex-direction: column;
    }
    .approve-box {
        margin-bottom: 3px;
    }
    .approve-search-box {
        width: 100%;
    }
    .approve-search-coll {
        justify-content: space-between;
        width: 100%;
    }
    .select.approve-select-month {
        width: 150px;
    }
    .approve-head-wrapp {
        flex-direction: column;
        align-items: flex-end;
    }
    .approve-btn.btn {
        width: 100%;
    }
    .approve-status {
        font-size: 12px;
        line-height: 14px;
        padding: 4px 8px;
    }
    .approve-date {
        text-align: right;
        margin-right: 0;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 3px;
    }
    .approve-time {
        font-size: 14px;
        line-height: 120%;
        padding-left: 0;
        &::before {
            width: 0;
        }
    }
    .approve-box-name {
        font-size: 16px;
        line-height: 19px;
    }
    .approve-box-img {
        width: 100px;
        height: 72px;
        margin-right: 14px;
        img {
            width: 100px;
            height: 72px;
        }
    }
    .approve-head {
        align-items: flex-start;
        margin-bottom: 2px;
    }
    .approve-body {
        margin-bottom: 30px;
    }
    .approve-search-line {
        margin-bottom: 22px;
    }
    .approve-button {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px;
    }
    .approve-btn {
        font-size: 14px;
    }
    .approve-box {
        flex-direction: column;
    }

    .booking__slaider-btn {
        display: none;
    }
    .booking__slaider-img {
        width: 100%;
        height: 335px;
    }
    .resent {
        width: 100%;
    }
    .resent-card {
        width: 380px;
    }
    .resent-head {
        width: 72px;
        height: 63px;
        img {
            width: 72px;
            height: 63px;
        }
    }
    .resent-name {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 19px;
    }
    .resent-coll:nth-child(1) {
        margin-bottom: 20px;
    }
    .resent-coll-2 {
        .resent-row:nth-child(1) {
            margin-bottom: 10px;
        }
        .resent-row:nth-child(2) {
            flex-direction: row;
        }
    }
    .resent-row {
        flex-direction: row-reverse;
    }
    .resent-body {
        flex-direction: column;
        align-items: baseline;
    }
    .best__list-inner {
        font-size: 50px;
        line-height: 53px;
        &:before {
            top: 25%;
        }
    }
    .best {
        padding-top: 147px;
        padding-bottom: 127px;
    }

    .related-wrapp {
        .blog__box {
            width: 240px;
            .blog__box-head {
                width: 240px;
                img {
                    width: 240px;
                }
            }
        }
        .related-next {
            right: -11px;
        }
    }
    .article-title {
        font-size: 28px;
        line-height: 118.52%;
    }
    .article_subtitle {
        margin-bottom: 19px;
    }
    .article__block p {
        margin-bottom: 13px;
    }
    .article__block h3 {
        margin-top: 55px;
    }
    .related {
        padding-top: 40px;
    }
    .article__mess {
        margin-bottom: 28px;
    }
    .blog__wrapp {
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 220px;
            .blog__box-head {
                max-width: 220px;

                img {
                    max-width: 220px;
                }
            }
        }
        .blog__box {
            max-width: 220px;
            .blog__box-head {
                max-width: 220px;

                img {
                    max-width: 220px;
                }
            }
        }
    }
    .result {
        .map__container {
            display: none;
        }
    }
    .menu-filter {
        display: block;
    }

    .search-form {
        padding-bottom: 15px;
        justify-content: space-between;
        position: relative;
        padding-top: 73px;
        .main__box-inner {
            margin: 0;
            padding: 0;
            width: 102px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;
            border-radius: 4px;
            margin-right: 8px;
        }
        .main__form-title {
            display: none;
        }
        .main-btn {
            display: none;
        }
        .main__form-box.autocomplete-box,
        .main__form-box.box-two.autocomplete-box,
        .main__form-box.box-two.autocomplete-box.active,
        .autocomplete-box.active {
            border: none !important;
            border-radius: 0;
            &:hover {
                border: none !important;
                box-shadow: none;
                border-radius: 0;
            }
            .autocomplete-items {
                top: 99%;
                border-radius: 0;
            }
        }
        .main__box-inner:nth-child(2) {
            width: 58px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;
            border-radius: 4px;

            padding: 0;
            margin: 0;
        }
        .main-form-input {
            width: 100%;
        }
        .main__form-box.autocomplete-box {
            background: #f9f9f9;
            border-radius: 4px;
            padding: 0;
            width: 84px;
            height: 38px;
            padding-left: 24px;
            margin-right: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main__form-box.box-two {
            width: 100% !important;
            position: absolute;
            top: 15px;
            left: 0;
            padding: 0 !important;
            &::before {
                content: url("../../assets/img/search.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            .main-form-input {
                width: 100%;
                background: #ffffff;
                height: 52px;
                padding: 17px 39px;
                border: 1px solid #f7f4f4;
                border-radius: 4px;
            }
        }
        .search-place-filter {
            display: block;
        }
        .main__form-box.active {
            margin-right: 0;
            padding: 0;
            &::before {
                content: url("../../assets/img/search-active.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15) !important;
            border-radius: 4px;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 3;
            width: 100% !important;

            .main-form-input {
                height: 52px;
                width: 100%;
                padding: 17px 39px;
                background: #ffffff;
                border: 1px solid #f7f4f4;
                border-radius: 4px;
            }
            .autocomplete-items {
                top: 100% !important;
                border-radius: 0 0 4px 4px !important;
                box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15);
            }

            .search-mobil-btn {
                display: block;
                border: none;
                outline: none;
                cursor: pointer;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .filter {
        display: none;
    }
    .header__list-inner {
        display: none;
    }
    .header__list-inner.header-btn {
        display: block;
    }
    .what {
        padding-bottom: 22px;
    }
    .artic-title {
        margin-bottom: 15px;
    }
    .what__wrapp {
        display: block;
    }
    .what__box {
        margin-bottom: 15px;
    }

    .what__body-title {
        font-size: 24px;
        line-height: 121.02%;
        margin-bottom: 10px;
    }
    .what {
        .top-btn.btn {
            display: flex;
        }
    }
    .what__wrapp .what__box:nth-child(2) .what__body-text,
    .what__wrapp .what__box:nth-child(3) .what__body-text {
        margin-bottom: 0px;
    }

    .what__box {
        min-height: 283px;
        padding-top: 17px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }
    .what__data {
        width: 107px;
        min-height: 33px;
        font-size: 12px;
        line-height: 121.02%;
    }
    .what__body-link {
        display: none;
    }
    .what__wrapp .what__box:nth-child(2) .what__body-container,
    .what__wrapp .what__box:nth-child(3) .what__body-container {
        justify-content: flex-start;
    }
    .top__slaider-box {
        width: 348px;
        img {
            width: 335px;
        }
    }
    .peculiarities {
        padding-bottom: 22px;
    }
    .top {
        padding-top: 25px;
    }
    .top__slaider-box {
        margin-bottom: 18px;
    }
    .top-slick-next {
        display: none;
    }
    .top-btn.btn {
        display: none;
    }
    .menu-calendar {
        display: block;
    }
    .calendar__container {
        display: none;
    }
    .time__container {
        display: none;
    }
    .menu-date {
        display: block;
    }
    .logo {
        img {
            width: 87px;
            height: 23px;
        }
    }
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .main {
        padding-top: 145px;
        padding-bottom: 80px;
    }
    .main-title {
        font-weight: 500;
        font-size: 44px;
        line-height: 110.52%;
        margin-bottom: 12px;
    }
    .main-text {
        margin-bottom: 20px;
    }
    .main-block-fix-mob {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .main {
        .main__form-box.--flex {
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
        .main__box-inner {
            border: 1px solid rgba(0, 0, 0, 0);
        }
        .main__box-inner.calendar {
            border-right: 1px solid rgba(226, 226, 226, 0.55);
            border-radius: 0;
            padding-bottom: 15px;
            &:hover {
                border: 1px solid #c2e631;

                border-radius: 16px;
            }
        }
        .main__form-title {
            font-size: 12px;
            line-height: 170%;
        }
        .main__box-inner:hover {
            border: 1px solid #c2e631;

            border-radius: 16px;
        }

        .main-form {
            flex-direction: column;
            background: rgba(0, 0, 0, 0);
        }
        .main__form-box {
            width: 100%;
            border-bottom: 1px solid rgba(226, 226, 226, 0.55);
            border-radius: 14px 14px 0 0;
            margin-right: 0;
            padding-left: 14px;
            &:hover {
                border-radius: 14px;
            }
        }

        .main__form-box.--flex {
            justify-content: space-between;
            padding-left: 0;

            .main__box-inner {
                border-radius: 14px;
            }
        }

        .main__box-inner {
            width: 49%;
            padding-left: 10px;
        }
        .main__form-box.box-two {
            padding-top: 5px;
        }
        .main__form-title {
            margin-bottom: 5px;
        }
        .main__box-inner {
            background: #fff;
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 9px;
        }
        .main-form-inner {
            width: 100%;
            flex-direction: column;
            background: #ffffff;
            box-shadow: 0px 79px 29px rgba(0, 0, 0, 0.24);
            border-radius: 14px;

            margin-bottom: 21px;
        }
        .btn.main-btn {
            width: 100%;
            height: 56px;
        }
    }
}
@media (max-width: 600px) {
    .company-profile {
    }
    .player-box.active {
        width: 100%;
    }
    .header__list-inner {
        display: none;
    }
    .header__list-inner.header-btn {
        display: block;
    }
}
@media (max-width: 570px) {
    .company-profile {
        .courts-box-name {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            margin-top: 5px;
        }
        .courts-box-btn {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            margin-top: 5px;
        }
        .courts-box-img {
            width: 83px;
            height: 77px;
            img {
                width: 83px;
                height: 77px;
            }
        }
        .courts-box-wrapp {
            align-items: flex-start;
        }
        .courts-box {
            align-items: flex-start;
        }
    }
    .booking-title {
        font-size: 24px;
        line-height: 28px;
    }
    .booking-subtitle {
        font-size: 14px;
        line-height: 16px;
        padding-left: 20px;
        &::before {
            transform: scale(0.6);
            top: -30%;
        }
    }
    .booking__slaider-img {
        width: 100%;
        height: 227px;
    }
    .window__chat {
        padding-left: 20px;
        padding-right: 20px;
    }
    .payment-box {
        border: none;
    }
    .brands-title {
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 18px;
        padding-left: 0;
    }
    .brands {
        padding-top: 27px;
        padding-bottom: 59px;
    }
    .brands__wrapp {
        width: 290px;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .benefit {
        padding-top: 40px;
        padding-bottom: 0;
    }
    .benefit-title {
        font-size: 30px;
        line-height: 32px;
    }
    .benefit-box-img {
        width: 218px;
    }
    .benefit-img-2 {
        width: 218px;
        height: 307px;
    }
    .benefit-img-1 {
        width: 64px;
        height: 64px;
    }
    .benefit-img-wrapp-3 {
        width: 85px;
        height: 85px;
    }
    .benefit-box-mess {
        padding: 14px 15px 14px 50px;
        font-size: 10px;
        line-height: 13px;
        bottom: 34px;
        left: -50px;
        &:before {
            width: 33px;
            height: 33px;
        }
    }
    .benefit-img-wrapp-3,
    .benefit-img-wrapp-2 {
        margin: 10px;
    }
    .benefit-img-wrapp-1 {
        top: -19px;
        right: -49px;
    }

    .benefit-box-text {
        bottom: 116px;
        left: 146px;
        width: 95px;
    }

    .benefit-box-text.--two {
        bottom: 86px;
        left: 151px;
        width: 142px;
    }

    .benefit-box-text {
        padding: 2px 17px;
        font-size: 10px;
        line-height: 22px;
    }
    .statistics-about {
        .statistics__box {
            min-width: 110px;
            margin-bottom: 25px;
        }
    }
    .about {
        margin-top: 17px;
        padding-top: 0;
    }
    .about-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 118.02%;
        &::before {
            width: 50px;
            height: 50px;
            left: -11px;
            top: -1px;
        }
    }
    .related-wrapp {
        width: 350px;
        margin: 0 auto;
        .blog__box {
            width: 344px;
            .blog__box-head {
                width: 344px;
                img {
                    width: 344px;
                }
            }
        }
        .related-next {
            display: none;
        }
    }
    .result__box {
        max-width: 358px;
        .result__box-head {
            width: 344px;
            height: 273px;
            img {
                width: 344px;
                height: 273px;
            }
        }
        .result__box-title {
            top: 240px;
        }
    }
    .footer-logo {
        width: 89px;
        height: 23px;
        img {
            width: 100%;
        }
    }

    .footer {
        padding-top: 40px;
    }
    .footer__mess {
        min-width: 156px;
    }
    .footer-coll {
        margin-bottom: 40px;
    }
    .footer-title {
        margin-bottom: 13px;
    }
    .footer__form-inner {
        max-width: 340px;
    }
    .footer__form-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .footer-logo {
        margin-bottom: 36px;
    }
    .footer-menu {
        width: 100%;
        flex-wrap: wrap;
        .footer__colll-box {
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }
    .who__wrapp {
        padding-left: 15px;
        padding-right: 15px;
    }
    .who-title {
        font-size: 32px;
        line-height: 109.02%;
    }
    .who__coll-2 {
        width: 100%;
        img {
            width: 300px;
            margin: 0 auto;
            display: block;
        }
    }
    .who__coll {
        margin-bottom: 20px;
    }
    .finder-title {
        font-size: 32px;
        line-height: 109.02%;
    }
    .statistics__wrapp {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .statistics__box {
        min-width: 110px;
        margin-bottom: 50px;
    }
    .statistics__wrapper-box:nth-child(2n + 2) {
        display: flex;
        justify-content: flex-end;
    }
    .statistics__wrapp {
        padding-bottom: 0;
    }
    .peculiarities-btn-wrapper {
        width: 100%;
        height: 342px;
        background: url("../../assets/img/img-3.jpg") no-repeat center center/cover;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 40px auto 0;
    }
    .peculiarities-btn.btn {
        width: 100%;
        margin: 20px;
    }
    .company__wrapp {
        overflow: hidden;
        max-width: 100%;
    }
    .menu {
        width: 100%;
    }
    .popup-signin {
        width: 100%;
        .popup-input-btn {
            padding-left: 56px;
            padding-right: 30px;
            &::before {
                left: 19px;
            }
        }
    }
    .peculiarities__box-img.one img {
        height: 195px;
    }
    .peculiarities__wrapp-title {
        max-width: 190px;
        font-weight: 500;
        font-size: 32px;
        line-height: 117.52%;
        margin-bottom: 25px;
    }
    .company {
        padding-top: 22px;
    }
    .peculiarities__coll.two {
        margin-top: 16px;
    }
    .peculiarities {
        padding-top: 18px;
    }
    .peculiarities__box-content {
        background: #ffffff;
        padding: 26px 18px 34px 18px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .peculiarities__box-title {
        flex-direction: row;
        margin-bottom: 15px;
        img {
            display: block;
            height: 24px;
            margin-right: 12px;
        }
    }
}
@media (max-width: 520px) {
    .company-profile {
        .info-change-wrapp {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .blog__wrapp {
        justify-content: center;
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 344px;
            .blog__box-head {
                max-width: 344px;

                img {
                    max-width: 344px;
                }
            }
        }
        .blog__box {
            max-width: 344px;
            .blog__box-head {
                max-width: 344px;

                img {
                    max-width: 344px;
                }
            }
        }
    }
    .player-box,
    .player-card {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 465px) {
    .company {
        overflow: hidden;
        padding-top: 31px;
        padding-bottom: 23px;
    }

    .company__slick {
        overflow: hidden;
        width: 465px;
        .company__slick-box {
            width: 112px;
            height: 14px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 112px;
                height: 14px;
                object-fit: contain;
            }
        }
    }
    .popup-signin {
        padding-left: 15px;
        padding-right: 15px;
        max-height: 870px;
        position: relative;
        overflow: hidden;
        margin: 0;
    }
    .popup-link.btn {
        margin-bottom: 60px;
    }
    .popup-title-in,
    .popup-title-up {
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 12px;
    }
    .popup-subtitle {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 23px;
    }
    .popup-subtitle.--two {
        margin-bottom: 30px;
    }
    .popup-wrapp {
        padding-bottom: 5px;
    }
    .popup-input-btn {
        font-size: 14px;
        line-height: 16px;
    }
    .popup-link {
        font-size: 14px;
        line-height: 44px;
    }

    .popup-btn-link {
        position: relative;
        right: 50%;
        transform: translateX(62%);
        top: 120px;
    }
    .popup-signin {
        padding-top: 55px;
    }
    .popup-login {
        position: static;
    }
    .popup-row-2 {
        width: 100%;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-25%);
    }
    .popup-row-2.--two {
        bottom: 25px;
        left: 10px;
        transform: translateX(0);
    }
}
@media (max-width: 450px) {
    .resent-card {
        width: 99%;
    }
    .resent {
        padding-left: 5px;
        padding-right: 5px;
    }
    .quest-row.--quest-flex .quest-row-coll {
        width: 130px;
    }
    .statistics {
        padding-bottom: 10px;
    }
    .finder {
        padding-top: 0;
    }
    .finder-title {
        margin-bottom: 18px;
    }

    .finder-account-btn,
    .finder-find-btn {
        width: 48%;
    }
}
@media (max-width: 410px) {
    .result__box {
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .resent-card {
        padding-left: 5px;
        padding-right: 5px;
    }
    .best__list {
        padding-left: 0;
    }
    .blog__wrapp {
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 290px;
            .blog__box-head {
                max-width: 290px;

                img {
                    max-width: 290px;
                }
            }
        }
        .blog__box {
            max-width: 290px;
            .blog__box-head {
                max-width: 290px;

                img {
                    max-width: 290px;
                }
            }
        }
    }
    .player-card {
        .player-avatar {
            position: absolute;
            top: 25px;
            left: 10px;
            padding-left: 0;
        }
    }
    .player-box,
    .player-card {
        padding-right: 8px;
    }
    .player-link {
        padding: 10px 10px 10px 30px;
    }

    .player-box-row,
    .player-place {
        padding-left: 70px;
    }
    .result__box {
        width: 290px;
        .result__box-head {
            width: 268px;
            height: 213px;

            img {
                width: 268px;
                height: 213px;
            }
        }
        .result__box-title {
            top: 178px;
        }
    }
    .who__bnt-img {
        width: 115px;
        height: 40px;
    }
    .who__coll-2 img {
        width: 245px;
    }
    .top__slaider-box {
        width: 290px;
        img {
            width: 275px;
            height: 247px;
        }
    }
}

@media (max-width: 380px) {
    .footer__form-inner {
        max-width: 287px;
    }
    .schedule-mob-wrapper-box {
        width: 320px;
    }
    .schedule-mob-wrapper-box .book-week-box {
        width: 60px;
    }
    .schedule-mob-wrapper-box .book-week-box.--combined {
        width: 135px;
    }
    .benefit-box-text.--two {
        left: 118px;
    }
    .benefit-box-text {
        left: 118px;
    }
    .benefit-box-mess {
        left: -30px;
    }
    .benefit-img-wrapp-1 {
        right: -30px;
    }
    .related-wrapp {
        width: 290px;
        margin: 0 auto;
        .blog__box {
            width: 290px;
            .blog__box-head {
                width: 290px;
                img {
                    width: 290px;
                }
            }
        }
        .related-next {
            display: none;
        }
    }
    .book-week-popup {
        width: 290px;
        padding-left: 15px;
        padding-right: 15px;
        .book-popup-box {
            margin-right: 10px;
        }
        .book-popup-btn,
        .book-popup-btn-2 {
            min-width: 120px;
        }
    }
}

@media (max-width: 360px) {
    .resent-card {
        gap: 5px;
    }
    .resent-time {
        padding-left: 9px;
        padding-right: 9px;
    }
    .resent-row {
        gap: 5px;
    }
    .quest-row.--quest-flex .quest-row-coll:nth-child(1) {
        width: 90px;
        margin-right: 10px;
    }
    .sidebar__left-head {
        padding-bottom: 70px;
    }
    .sidebar__right-title {
        font-size: 21px;
    }
    .sidebar__right-head.--mobile {
        padding-left: 10px;
        padding-right: 10px;
    }
    .player-link {
        padding: 10px 3px 10px 7px;
        &:before {
            content: "";
        }
    }
    .popup-signin {
        .popup-input-btn {
            padding-left: 40px;
            padding-right: 15px;
        }
    }
    .popup-signin .popup-input-btn:before {
        left: 7px;
    }
    .main {
        .btn.main-btn {
            width: 100%;
        }
        .main-form-inner {
            width: 100%;
        }
    }
}
@media (max-width: 340px) {
    .best__list-inner {
        font-size: 45px;
    }
}
