@media (max-width: 1550px) {
    .result {
        #map {
            width: 42vw;
        }
    }
}
@media (max-width: 1490px) {
    .top__slaider-box {
        width: 350px;
        img {
            width: 330px;
            height: 247px;
        }
    }
    .top-slick-next {
        right: 40px;
    }

    .blog__wrapp {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 350px;
            .blog__box-head {
                max-width: 350px;

                img {
                    max-width: 350px;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .player_filter {
        .player__filter-btn {
            margin-right: 10px;
        }
        .player_filter-box.five {
            width: 165px;
        }
        .player_filter-box.four {
            width: 130px;
        }
        .player_filter-box.three {
            width: 110px;
        }
        .player_filter-box.two {
            width: 130px;
        }
    }
    .result__box.active {
        width: 643px;
    }
    .result__box.active .result__box-head {
        margin-right: 10px;
    }
    .result {
        #map {
            width: 40vw;
        }
    }
    .footer-menu {
        width: 390px;
    }

    .who__wrapp {
        padding-left: 30px;
        padding-right: 30px;
    }
    .finder__coll {
        width: 60%;
    }
    .who__coll {
        width: 40%;
    }
    .who__inner {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .finder-mess {
        width: 170px;
        &::before {
            left: 20px;
        }
    }
    .top-slick-next {
        right: -15px;
    }
    .peculiarities__box-img.one img {
        width: 375px;
        height: 540px;
    }
    .peculiarities__box-img.three img {
        width: 220px;
        height: 300px;
    }
    .peculiarities__box-img.two img {
        width: 215px;
        height: 215px;
    }
    .peculiarities__wrapp {
        width: 90%;
    }
}
@media (max-width: 1200px) {
    .blog__wrapp {
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;

        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 344px;
            .blog__box-head {
                width: 344px;
                height: 243px;
                img {
                    width: 344px;
                    height: 243px;
                }
            }
        }
    }
    .player_filter {
        .player_filter-box.five {
            width: 86px;
        }
        .player_filter-box.four {
            width: 100px;
        }
        .player_filter-box.three {
            width: 100px;
        }
        .player_filter-box.two {
            width: 110px;
        }
    }
    .result__box.active {
        max-width: 543px;
    }
    .result__box.active .result__box-head {
        margin-right: 15px;
        width: 206px;
        img {
            margin-right: 15px;
            width: 206px;
        }
    }
    .search-form {
        .main__box-inner:nth-child(2) {
            width: 90px;
        }
        .main__box-inner {
            width: 130px;
        }
        .calendar__container {
            left: -282%;
        }
    }
    .footer-menu {
        max-width: 370px;
        margin-left: 15px;
    }
    .footer__form-inner {
        max-width: 310px;
    }
    .who__wrapp {
        padding-top: 25px;
        align-items: flex-end;
    }
    .what__wrapp {
        gap: 10px;
        grid-template-columns: 1.3fr 1fr 1fr;
    }
    .who__coll-2 {
        width: 45%;
        img {
            width: 100%;
        }
    }
    .finder-account-btn,
    .finder-find-btn {
        width: 180px;
    }
    .finder__review.--one {
        position: absolute;
        right: 5px;
        top: 35px;
    }
    .finder__review.--two {
        position: relative;
        top: 20px;
        left: 8px;
    }
    .finder-mess {
        position: relative;
        top: 23px;
        right: -25px;
    }
    .top__slaider-box {
        width: 290px;
        img {
            width: 275px;
            height: 247px;
        }
    }
    .peculiarities-btn.btn {
        margin-left: 15px;
    }
    .peculiarities__box-img.one img {
        width: 280px;
        height: 450px;
    }
    .peculiarities__wrapp-title {
        margin-bottom: 35px;
    }
    .peculiarities__box-content {
        padding: 19px 15px;
    }
    .peculiarities__box-img.three img {
        width: 180px;
        height: 250px;
    }
    .peculiarities__box-img.two img {
        width: 180px;
        height: 180px;
    }
    .peculiarities__wrapp {
        width: 100%;
    }
    .time__container {
        left: auto;
        right: 0;
    }
    .main__form-box.autocomplete-box {
        width: 230px;
    }
    .calendar__container {
        left: -190%;
    }
}

@media (max-width: 998px) {
    .player_filter {
        .autocomplete-box.active {
            border: none !important;
        }
        .search-place-filter {
            display: block;
        }
        .player_filte-container {
            padding-bottom: 16px;
        }
        .player_filter-mob {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .search-place-filter {
                padding-top: 8px;
            }
        }

        .player_filter-mob-info {
            display: inline-block;
            font-weight: normal;
            font-size: 12px;
            line-height: 170%;
            color: #3a3f43;
            background: #f9f9f9;
            border-radius: 4px;
            min-width: 100px;
            padding: 8px 9px;
            margin-right: 6px;
            margin-bottom: 11px;
        }
        .player_filter-box {
            display: none;
        }
        .player_filter-box.one {
            display: block;
        }

        .player_filter-wrapp {
            flex-direction: column;
            align-items: flex-start;
        }
        .player_filter-box.five {
            width: 86px;
        }
        .player_filter-box.four {
            width: 100px;
        }
        .player_filter-box.three {
            width: 100px;
        }
        .player_filter-box.two {
            width: 110px;
        }
        .player__filter-btn.btn {
            display: none;
        }
        .player__filter-box-title {
            display: none;
        }
        .player_filter-wrapp {
            padding-top: 80px;
            position: relative;
        }
        .player_filter-box.one {
            margin-right: 0;
            padding: 0;
            border-radius: 4px;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 0;
            width: 100% !important;
            &::before {
                content: url("../../assets/img/search.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            .main-form-input {
                height: 52px;
                width: 100%;
                padding: 17px 39px;
                background: #ffffff;
                border: 1px solid #f7f4f4;
                border-radius: 4px;
            }
        }

        .player_filter-box.one.active {
            &::before {
                content: url("../../assets/img/search-active.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15) !important;
            border-radius: 4px;

            .autocomplete-items {
                top: 100% !important;
                border-radius: 0 0 4px 4px !important;
                box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15);
            }

            .search-mobil-btn {
                display: block;
                border: none;
                outline: none;
                cursor: pointer;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .result__box.active {
        display: block;
        max-width: 320px;
        .result__box-head img {
            margin-right: 0;
            width: 290px;
        }
    }
    .result #map {
        width: 50vw;
    }
    .who__wrapp {
        flex-direction: column;
    }
    .who__coll {
        width: 100%;
        max-width: 100%;
        margin-bottom: 52px;
    }
    .finder {
        padding-bottom: 70px;
    }
    .who__coll-2 {
        width: 50%;
        margin: 0 auto;
    }
    .finder-account-btn,
    .finder-find-btn {
        width: 202px;
    }

    .finder__wrapp {
        flex-direction: column;
    }
    .finder__review {
        display: none;
    }
    .finder-row.two {
        display: none;
    }
    .top-slick-next {
        right: 5px;
    }
    .statistics {
        padding-bottom: 20px;
    }
    .finder__coll-1 {
        max-width: 100%;
    }
    .finder__coll {
        position: absolute;
        bottom: 100px;
    }
    .finder-text {
        margin-bottom: 173px;
    }
    .finder__wrapp {
        position: relative;
    }
    .finder {
        padding-top: 20px;
    }
    .main__form-box.autocomplete-box {
        width: 155px;
        padding-left: 5px;
    }
    .calendar__container {
        left: auto;
        right: -274px;
    }
    .main-form {
        padding-right: 5px;
    }
    .main__box-inner {
        width: 115px;
        padding-left: 5px;
    }
}
@media (max-width: 992px) {
    .blog-btn.active {
        background: #c2e631;
        border: 1px solid #c2e631;
    }
    .blog-btn {
        flex-shrink: 0;
    }
    .blog__wrapper {
        overflow-y: auto;

        flex-wrap: nowrap;
        display: flex;
    }
    .blog__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .blog__wrapper::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .blog__wrapp {
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 300px;
            .blog__box-head {
                max-width: 300px;

                img {
                    max-width: 300px;
                }
            }
        }
        .blog__box {
            max-width: 300px;
            .blog__box-head {
                max-width: 300px;

                img {
                    max-width: 300px;
                }
            }
        }
    }
    .search-form {
        .main__form-box.autocomplete-box:nth-child(2) {
            width: 130px;
        }
        .main__form-box.autocomplete-box {
            width: 183px;
        }
    }
    .footer-wrapp {
        display: block;
    }
    .footer-coll {
        margin-bottom: 40px;
    }
    .footer-menu {
        margin-left: 0;
    }
    .what__wrapp {
        grid-template-columns: 1fr 1fr;
    }
    .what__wrapp .what__box:first-child {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .what__wrapp .what__box:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .statistics__box-title {
        font-size: 32px;
        line-height: 121.02%;
    }
    .statistics__box-subtitle {
        font-size: 14px;
        line-height: 121.02%;
    }
    .statistics__wrapp {
        padding: 40px;
    }
    .peculiarities__wrapp {
        flex-direction: column;
    }
    .peculiarities__coll {
        max-width: 100%;
    }
    .peculiarities__coll.two {
        width: 100%;
        flex-direction: column-reverse;
    }
    .peculiarities__box-img.two {
        display: none;
    }
    .peculiarities__box-img.three {
        display: none;
    }
    .peculiarities__box-img.one {
        position: relative;
        &::before {
            content: url("../../assets/img/img-4.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        margin-right: 0;
        img {
            width: 100%;
        }
    }
}
@media (max-width: 710px) {
    .popup-player {
        width: 95%;
    }
}
@media (max-width: 778px) {
    .blog__wrapp {
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 220px;
            .blog__box-head {
                max-width: 220px;

                img {
                    max-width: 220px;
                }
            }
        }
        .blog__box {
            max-width: 220px;
            .blog__box-head {
                max-width: 220px;

                img {
                    max-width: 220px;
                }
            }
        }
    }
    .result {
        .map__container {
            display: none;
        }
    }
    .menu-filter {
        display: block;
    }

    .search-form {
        padding-bottom: 15px;
        justify-content: space-between;
        position: relative;
        padding-top: 73px;
        .main__box-inner {
            margin: 0;
            padding: 0;
            width: 102px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;
            border-radius: 4px;
            margin-right: 8px;
        }
        .main__form-title {
            display: none;
        }
        .main-btn {
            display: none;
        }
        .main__form-box.autocomplete-box,
        .main__form-box.box-two.autocomplete-box,
        .main__form-box.box-two.autocomplete-box.active,
        .autocomplete-box.active {
            border: none !important;
            border-radius: 0;
            &:hover {
                border: none !important;
                box-shadow: none;
                border-radius: 0;
            }
            .autocomplete-items {
                top: 99%;
                border-radius: 0;
            }
        }
        .main__box-inner:nth-child(2) {
            width: 58px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f9f9f9;
            border-radius: 4px;

            padding: 0;
            margin: 0;
        }
        .main-form-input {
            width: 100%;
        }
        .main__form-box.autocomplete-box {
            background: #f9f9f9;
            border-radius: 4px;
            padding: 0;
            width: 84px;
            height: 38px;
            padding-left: 24px;
            margin-right: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main__form-box.box-two {
            width: 100% !important;
            position: absolute;
            top: 15px;
            left: 0;
            padding: 0 !important;
            &::before {
                content: url("../../assets/img/search.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            .main-form-input {
                width: 100%;
                background: #ffffff;
                height: 52px;
                padding: 17px 39px;
                border: 1px solid #f7f4f4;
                border-radius: 4px;
            }
        }
        .search-place-filter {
            display: block;
        }
        .main__form-box.active {
            margin-right: 0;
            padding: 0;
            &::before {
                content: url("../../assets/img/search-active.svg ");
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 11px;
            }
            box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15) !important;
            border-radius: 4px;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 3;
            width: 100% !important;

            .main-form-input {
                height: 52px;
                width: 100%;
                padding: 17px 39px;
                background: #ffffff;
                border: 1px solid #f7f4f4;
                border-radius: 4px;
            }
            .autocomplete-items {
                top: 100% !important;
                border-radius: 0 0 4px 4px !important;
                box-shadow: 0px 15px 16px rgba(0, 0, 0, 0.15);
            }

            .search-mobil-btn {
                display: block;
                border: none;
                outline: none;
                cursor: pointer;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .filter {
        display: none;
    }
    .header__list-inner {
        display: none;
    }
    .header__list-inner.header-btn {
        display: block;
    }
    .what {
        padding-bottom: 22px;
    }
    .artic-title {
        margin-bottom: 15px;
    }
    .what__wrapp {
        display: block;
    }
    .what__box {
        margin-bottom: 15px;
    }

    .what__body-title {
        font-size: 24px;
        line-height: 121.02%;
        margin-bottom: 10px;
    }
    .what {
        .top-btn.btn {
            display: flex;
        }
    }
    .what__wrapp .what__box:nth-child(2) .what__body-text,
    .what__wrapp .what__box:nth-child(3) .what__body-text {
        margin-bottom: 0px;
    }

    .what__box {
        min-height: 283px;
        padding-top: 17px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }
    .what__data {
        width: 107px;
        min-height: 33px;
        font-size: 12px;
        line-height: 121.02%;
    }
    .what__body-link {
        display: none;
    }
    .what__wrapp .what__box:nth-child(2) .what__body-container,
    .what__wrapp .what__box:nth-child(3) .what__body-container {
        justify-content: flex-start;
    }
    .top__slaider-box {
        width: 348px;
        img {
            width: 335px;
        }
    }
    .peculiarities {
        padding-bottom: 22px;
    }
    .top {
        padding-top: 25px;
    }
    .top__slaider-box {
        margin-bottom: 18px;
    }
    .top-slick-next {
        display: none;
    }
    .top-btn.btn {
        display: none;
    }
    .menu-calendar {
        display: block;
    }
    .calendar__container {
        display: none;
    }
    .time__container {
        display: none;
    }
    .menu-date {
        display: block;
    }
    .logo {
        img {
            width: 87px;
            height: 23px;
        }
    }
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .main {
        padding-top: 145px;
        padding-bottom: 80px;
    }
    .main-title {
        font-weight: 500;
        font-size: 44px;
        line-height: 110.52%;
        margin-bottom: 12px;
    }
    .main-text {
        margin-bottom: 20px;
    }
    .main-block-fix-mob {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .main {
        .main__form-box.--flex {
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
        .main__box-inner {
            border: 1px solid rgba(0, 0, 0, 0);
        }
        .main__box-inner.calendar {
            border-right: 1px solid rgba(226, 226, 226, 0.55);
            border-radius: 0;
            padding-bottom: 15px;
            &:hover {
                border: 1px solid #c2e631;

                border-radius: 16px;
            }
        }
        .main__form-title {
            font-size: 12px;
            line-height: 170%;
        }
        .main__box-inner:hover {
            border: 1px solid #c2e631;

            border-radius: 16px;
        }

        .main-form {
            flex-direction: column;
            background: rgba(0, 0, 0, 0);
        }
        .main__form-box {
            width: 100%;
            border-bottom: 1px solid rgba(226, 226, 226, 0.55);
            border-radius: 14px 14px 0 0;
            margin-right: 0;
            padding-left: 14px;
            &:hover {
                border-radius: 14px;
            }
        }

        .main__form-box.--flex {
            justify-content: space-between;
            padding-left: 0;

            .main__box-inner {
                border-radius: 14px;
            }
        }

        .main__box-inner {
            width: 49%;
            padding-left: 10px;
        }
        .main__form-box.box-two {
            padding-top: 5px;
        }
        .main__form-title {
            margin-bottom: 5px;
        }
        .main__box-inner {
            background: #fff;
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 9px;
        }
        .main-form-inner {
            width: 100%;
            flex-direction: column;
            background: #ffffff;
            box-shadow: 0px 79px 29px rgba(0, 0, 0, 0.24);
            border-radius: 14px;

            margin-bottom: 21px;
        }
        .btn.main-btn {
            width: 100%;
            height: 56px;
        }
    }
}
@media (max-width: 600px) {
    .player-box.active {
        width: 100%;
    }
    .header__list-inner {
        display: none;
    }
    .header__list-inner.header-btn {
        display: block;
    }
}
@media (max-width: 570px) {
    .result__box {
        max-width: 358px;
        .result__box-head {
            width: 344px;
            height: 273px;
            img {
                width: 344px;
                height: 273px;
            }
        }
        .result__box-title {
            top: 240px;
        }
    }
    .footer-logo {
        width: 89px;
        height: 23px;
        img {
            width: 100%;
        }
    }

    .footer {
        padding-top: 40px;
    }
    .footer__mess {
        min-width: 156px;
    }
    .footer-coll {
        margin-bottom: 40px;
    }
    .footer-title {
        margin-bottom: 13px;
    }
    .footer__form-inner {
        max-width: 340px;
    }
    .footer__form-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .footer-logo {
        margin-bottom: 36px;
    }
    .footer-menu {
        width: 100%;
        flex-wrap: wrap;
        .footer__colll-box {
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }
    .who__wrapp {
        padding-left: 15px;
        padding-right: 15px;
    }
    .who-title {
        font-size: 32px;
        line-height: 109.02%;
    }
    .who__coll-2 {
        width: 100%;
        img {
            width: 300px;
            margin: 0 auto;
            display: block;
        }
    }
    .who__coll {
        margin-bottom: 20px;
    }
    .finder-title {
        font-size: 32px;
        line-height: 109.02%;
    }
    .statistics__wrapp {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .statistics__box {
        min-width: 110px;
        margin-bottom: 50px;
    }
    .statistics__wrapper-box:nth-child(2n + 2) {
        display: flex;
        justify-content: flex-end;
    }
    .statistics__wrapp {
        padding-bottom: 0;
    }
    .peculiarities-btn-wrapper {
        width: 100%;
        height: 342px;
        background: url("../../assets/img/img-3.jpg") no-repeat center center/cover;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 40px auto 0;
    }
    .peculiarities-btn.btn {
        width: 100%;
        margin: 20px;
    }
    .company__wrapp {
        overflow: hidden;
        max-width: 100%;
    }
    .menu {
        width: 100%;
    }
    .popup-signin {
        width: 100%;
        .popup-input-btn {
            padding-left: 56px;
            padding-right: 30px;
            &::before {
                left: 19px;
            }
        }
    }
    .peculiarities__box-img.one img {
        height: 195px;
    }
    .peculiarities__wrapp-title {
        max-width: 190px;
        font-weight: 500;
        font-size: 32px;
        line-height: 117.52%;
        margin-bottom: 25px;
    }
    .company {
        padding-top: 22px;
    }
    .peculiarities__coll.two {
        margin-top: 16px;
    }
    .peculiarities {
        padding-top: 18px;
    }
    .peculiarities__box-content {
        background: #ffffff;
        padding: 26px 18px 34px 18px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .peculiarities__box-title {
        flex-direction: row;
        margin-bottom: 15px;
        img {
            display: block;
            height: 24px;
            margin-right: 12px;
        }
    }
}
@media (max-width: 520px) {
    .blog__wrapp {
        justify-content: center;
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 344px;
            .blog__box-head {
                max-width: 344px;

                img {
                    max-width: 344px;
                }
            }
        }
        .blog__box {
            max-width: 344px;
            .blog__box-head {
                max-width: 344px;

                img {
                    max-width: 344px;
                }
            }
        }
    }
    .player-box,
    .player-card {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 465px) {
    .company {
        overflow: hidden;
        padding-top: 31px;
        padding-bottom: 23px;
    }

    .company__slick {
        overflow: hidden;
        width: 465px;
        .company__slick-box {
            width: 112px;
            height: 14px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 112px;
                height: 14px;
                object-fit: contain;
            }
        }
    }
    .popup-signin {
        padding-left: 15px;
        padding-right: 15px;
        max-height: 870px;
        position: relative;
        overflow: hidden;
        margin: 0;
    }
    .popup-link.btn {
        margin-bottom: 60px;
    }
    .popup-title-in,
    .popup-title-up {
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 12px;
    }
    .popup-subtitle {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 23px;
    }
    .popup-subtitle.--two {
        margin-bottom: 30px;
    }
    .popup-wrapp {
        padding-bottom: 5px;
    }
    .popup-input-btn {
        font-size: 14px;
        line-height: 16px;
    }
    .popup-link {
        font-size: 14px;
        line-height: 44px;
    }

    .popup-btn-link {
        position: relative;
        right: 50%;
        transform: translateX(62%);
        top: 120px;
    }
    .popup-signin {
        padding-top: 55px;
    }
    .popup-login {
        position: static;
    }
    .popup-row-2 {
        width: 100%;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-25%);
    }
    .popup-row-2.--two {
        bottom: 25px;
        left: 10px;
        transform: translateX(0);
    }
}
@media (max-width: 450px) {
    .statistics {
        padding-bottom: 10px;
    }
    .finder {
        padding-top: 0;
    }
    .finder-title {
        margin-bottom: 18px;
    }

    .finder-account-btn,
    .finder-find-btn {
        width: 48%;
    }
}
@media (max-width: 410px) {
    .result__box {
        margin: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .blog__wrapp {
        .blog__box:nth-child(1),
        .blog__box:nth-child(2),
        .blog__box:nth-child(3) {
            max-width: 290px;
            .blog__box-head {
                max-width: 290px;

                img {
                    max-width: 290px;
                }
            }
        }
        .blog__box {
            max-width: 290px;
            .blog__box-head {
                max-width: 290px;

                img {
                    max-width: 290px;
                }
            }
        }
    }
    .player-card {
        .player-avatar {
            position: absolute;
            top: 25px;
            left: 10px;
            padding-left: 0;
        }
    }
    .player-box,
    .player-card {
        padding-right: 8px;
    }
    .player-link {
        padding: 10px 10px 10px 30px;
    }

    .player-box-row,
    .player-place {
        padding-left: 70px;
    }
    .result__box {
        width: 290px;
        .result__box-head {
            width: 268px;
            height: 213px;

            img {
                width: 268px;
                height: 213px;
            }
        }
        .result__box-title {
            top: 178px;
        }
    }
    .who__bnt-img {
        width: 115px;
        height: 40px;
    }
    .who__coll-2 img {
        width: 245px;
    }
    .top__slaider-box {
        width: 290px;
        img {
            width: 275px;
            height: 247px;
        }
    }
}

@media (max-width: 360px) {
    .player-link {
        padding: 10px 3px 10px 7px;
        &:before {
            content: "";
        }
    }
    .popup-signin {
        .popup-input-btn {
            padding-left: 40px;
            padding-right: 15px;
        }
    }
    .popup-signin .popup-input-btn:before {
        left: 7px;
    }
    .main {
        .btn.main-btn {
            width: 100%;
        }
        .main-form-inner {
            width: 100%;
        }
    }
}
