.artic {
    padding-bottom: 37px;
}
.artic-title {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 2rem;
    line-height: 110.52%;
    color: #2e2d2d;
    margin-bottom: 28px;
}
.artic-text {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 160.52%;
    color: #a0a8b1;
    margin-bottom: 20px;
}
.artic-link {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 110.52%;
    color: #3a3a3a;
    &:hover {
        text-decoration: underline;
    }
}
