.blog {
    padding-top: 40px;
}
.blog__wrapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.blog__box {
    max-width: 344px;
    display: block;
    margin-bottom: 50px;
    margin-right: 20px;
}

.blog__box-head {
    width: 344px;
    height: 243px;
    margin-bottom: 13px;
    img {
        width: 344px;
        height: 243px;
        object-fit: cover;
        border-radius: 16px;
        overflow: hidden;
    }
}
.blog__box-title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 140.02%;
    color: #2e2d2d;
    padding-right: 52px;
    margin-bottom: 12px;
}

.blog__box-data {
    display: inline-block;
    font-size: 0.75rem;
    line-height: 121.02%;
    color: #1e1e1e;
    background: rgba(228, 228, 228, 0.46);
    border-radius: 25px;
    padding: 9px 13px;
}
.blog__box:nth-child(1),
.blog__box:nth-child(2),
.blog__box:nth-child(3) {
    max-width: 467px;

    .blog__box-head {
        width: 467px;
        height: 363px;
        margin-bottom: 12px;
        img {
            width: 467px;
            height: 363px;
        }
    }
    .blog__box-title {
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 146.02%;
        color: #2e2d2d;
        margin-bottom: 10px;
        padding-right: 15px;
    }

    .blog__box-data {
        font-size: 0.75rem;
        line-height: 121.02%;
        color: #1e1e1e;
    }
}

.blog__box.hide {
    display: none;
}
