.book-left {
    width: 62%;
    border: 1px solid #eaf0f8;
    border-radius: 16px;
    background: #ffffff;
}

.book-control {
    background: #f7f9fb;
    border-radius: 16px 16px 0px 0px;
    padding: 11px 18px 11px 23px;
}
