.booking-title {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.18;
    color: #2e2d2d;
}

.booking-subtitle {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875;
    color: #a0a8b1;
    position: relative;
    padding-left: 30px;
    &::before {
        content: url("../../assets/img/pin-map.svg");

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-60%);
        width: 16px;
        height: 21px;
    }
}
