.brands {
    padding-top: 75px;
    padding-bottom: 100px;
}
.brands__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1255px;
    margin-left: 33px;
}
.brands-title {
    font-family: "Oswald";
    font-weight: normal;
    font-size: 2.75rem;
    line-height: 130%;
    color: #1e212c;
    padding-left: 53px;
    margin-bottom: 30px;
}
