/*-----------menu__burger------------*/
.menu__burger {
    height: 20px;
    position: relative;

    cursor: pointer;

    display: block;
}

.menu__burger::before,
.menu__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 28px;
    height: 2px;
    border-radius: 2px;
    left: 0;
    transition: 0.4s;
}

.menu__burger::before {
    top: 4px;
}

.menu__burger-line {
    background-color: #fff;
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu__burger::after {
    bottom: 4px;
}

.menu__burger.active {
    position: relative;
    z-index: 8;
    margin-top: 10px;
}

.menu__burger.active::before {
    transform: rotate(45deg);
    top: 10px;
    transition: 0.4s;
    background-color: #111;
}

.menu__burger.active .menu__burger-line {
    transform: scale(0);
}

.menu__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #111;
}

.stop {
    overflow: hidden;
}
