.choosetime {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 3;
    padding: 11px 16px;
    display: none;
    flex-direction: column;
}
.choosetime.active {
    display: flex;
}

.choosetime-head {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 22px;
    line-height: 170%;
    color: #2e2d2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.choosetime-close {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.choosetime__wrapp-title {
    font-weight: normal;
    font-size: 13px;
    line-height: 170%;
    /* or 22px */
    margin-bottom: 5px;
    color: #a0a8b1;
}

.choosetime__wrapp-data {
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #3a3f43;
    padding-bottom: 8px;
    margin-bottom: 23px;
    border-bottom: 1px solid rgba(226, 226, 226, 0.55);
}

.choosetime__wrapp-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1b1919;
    border: none;
    outline: none;
    min-width: 340px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 70px;
    display: block;
    margin-top: auto;
    margin-bottom: 20px;
}

@media (max-width: 572px) {
    .choosetime__wrapp-btn {
        min-width: 100%;
    }
}
