.company-info {
    margin-bottom: 0;
    .info_row-user {
        margin-bottom: 18px;
    }
}

.sidebar-close-btn.info-title {
    padding-top: 55px;
}

.company-info-wrapp {
    max-width: 875px;
    height: 1247px;
}
