.header {
    background: linear-gradient(106.74deg, rgba(0, 0, 0, 0.4) 4.1%, rgba(0, 0, 0, 0) 75.98%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    padding-top: 22px;
    padding-bottom: 22px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);

    z-index: 1;
}

.header__form-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 110.52%;
    color: #ffffff;
    transition: 0.4s;
    &:hover {
        text-decoration: underline;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__list-inner {
    margin-right: 28px;
}

.header__list-inner.header-btn {
    margin-right: 0;
    margin-left: 9px;
}

.header__list-inner.hidden {
    display: none;
}
.header-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 110.52%;
    color: #ffffff;
    position: relative;
    padding-left: 25px;
    transition: 0.5s;

    &:hover {
        text-decoration: underline;
    }
}
.header-link.search {
    margin-right: 15px;
}
.header-link.players::before {
    content: url("../../assets/img/header-human.svg");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-link.search::before {
    content: url("../../assets/img/search-header.svg");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header__box-container {
    position: relative;
    &:hover {
        .header__input-search {
            width: 320px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}

.header__input-search {
    width: 102px;
    border: none;
    background: none;
    outline: none;
    padding-left: 33px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 110.52%;
    color: #ffffff;
    transition: 0.7s;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
    cursor: pointer;
    &::placeholder {
        font-weight: 500;
        font-size: 1rem;
        line-height: 110.52%;
        color: #ffffff;
    }
}

.header__input-search:focus {
    width: 320px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__search-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-79%);
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    img {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
    }
}

.btn-menu {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    img {
        width: 28px;
    }
}

.header_white {
    background: rgba(241, 242, 243, 0.43);
    position: relative;
    .header__form-link,
    .header-link,
    .select__current {
        color: #3a3f43;
    }
    .header-link.players::before {
        content: url("../../assets/img/header-human-dark.svg");
    }

    .header-link.search::before {
        content: url("../../assets/img/search-header-dark.svg");
    }
}

.header.--two {
    background: #ffffff;
}
