.payment {
    background: #ffffff;
    border-radius: 0 0 24px 24px;
    padding: 0px 50px 50px 50px;
    min-height: 1143px;
}
.sidebar-close-btn.payment-title {
    background: #ffffff;
    padding-top: 57px;
    padding-left: 50px;
    border-radius: 24px 24px 0 0;
}
.payment-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #2e2d2d;
    padding-bottom: 33px;
}

.payment__label-span {
    font-weight: bold;
    font-size: 1rem;
    line-height: 160%;
    color: #2e2d2d;
}
.payment-wrapper {
    max-width: 390px;
}
.payment-box {
    background: #ffffff;
    border: 1px solid #e5e8ed;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
        0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 17px;
}
.payment__row-title {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 160%;
    color: #424551;
    margin-bottom: 12px;
}

.payment-input.-one {
    margin-bottom: 28px;
}

.payment-row-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    flex-shrink: 0;
}

.payment-box-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    transition: 0.3s all linear;
}

.payment-head-coll {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.payment-row {
    display: flex;
    gap: 20px;
}

.payment-row-coll:nth-child(1) {
    width: 180px;
}
.payment-row-coll:nth-child(2) {
    width: 142px;
}

.payment-btn {
    border: none;
    outline: none;
    background: rgba(194, 230, 49, 0.19);
    border-radius: 4px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.75;
    color: #0d0808;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 40px;
}

.payment-box-head.--active + .payment-box-body {
    display: block;
    height: 100%;
}
.payment-box-head.--active {
    margin-bottom: 15px;
}
.payment-box-body {
    transition: 0.3s all linear;
    height: 0;
    overflow: hidden;
}

.payment-label {
    margin-top: 15px;
    display: none;
    cursor: pointer;
    position: relative;
}
.payment-label-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
    opacity: 0;
}
.payment-label-span {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border: 2px solid #c2e631;
        border-radius: 2px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.payment-label-checkbox:checked + .payment-label-span {
    &::before {
        content: url("../../assets/img/Stroke.svg");

        background: #c2e631;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
