.peculiarities {
    padding-top: 100px;
    padding-bottom: 67px;
}
.peculiarities__wrapp {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.peculiarities__coll.two {
    flex-shrink: 1;
    display: flex;
    margin-top: 26px;
}

.peculiarities__box-img {
    display: block;
    img {
        position: relative;
        border-radius: 20px;
        object-fit: cover;
        transition: 0.4s;
        overflow: hidden;
    }
}
.peculiarities__box-img.one {
    margin-right: 20px;
    img {
        width: 504px;
        height: 623px;
    }
}
.peculiarities__box-img.two {
    margin-bottom: 20px;
    img {
        width: 255px;
        height: 234px;
        box-shadow: -27px 62px 45px rgba(54, 54, 54, 0.49), 15px 17px 33px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
}
.peculiarities__box-img.three {
    img {
        width: 255px;
        height: 368px;
    }
}

.peculiarities-btn.btn {
    width: 202px;
    height: 58px;
    margin-left: 30px;
    margin-top: 10px;
}

.peculiarities__wrapp-title {
    max-width: 330px;
    position: relative;
    z-index: 0;
    display: block;
    margin-bottom: 50px;
    margin-left: 8px;
    &::before {
        content: "";
        width: 39px;
        height: 39px;
        position: absolute;
        background: #c2e631;
        border-radius: 39px;
        bottom: -7px;
        right: -15px;
        z-index: -1;
    }
}

.peculiarities__box-content {
    display: block;

    border-radius: 8px;

    padding: 35px 29px 35px 29px;
    transition: 0.3s all ease-in-out;
    &:hover {
        background: #fff;
        box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 30px 40px rgba(20, 37, 63, 0.08);
    }
}

.peculiarities__box-title {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: #2e2d2d;
    margin-left: 3px;
    margin-bottom: 8px;

    img {
        width: 24px;
        height: 0;
        margin-bottom: 0;
        transition: 0.3s all ease-in-out;
    }
}

.peculiarities__box-text {
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 163.02%;
    color: #6c757d;
}

.peculiarities__coll {
    max-width: 520px;
}
