.related {
    padding-top: 75px;
    padding-bottom: 65px;
}
.related-title {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 2rem;
    line-height: 121.02%;
    color: #2e2d2d;
    margin-bottom: 30px;
}
