.resent {
    background: #ffffff;
    border-radius: 0 0 24px 24px;
    padding: 0 51px 62px 51px;
    .show {
        width: 80%;
    }
}
.resent__box-title-mobil {
    display: none;
}

.resent__box {
    max-width: 778px;
    margin-bottom: 34px;
}
.resent__box:nth-child(2) {
    margin-bottom: 20px;
}

.resent-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.16;
    color: #2e2d2d;
    padding-bottom: 33px;
}
.sidebar-close-btn.resent-title {
    padding-left: 52px;
    padding-top: 48px;
    border-radius: 24px 24px 0 0;
    background: #fff;
}
.resent__box-title {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875;
    color: #a0a8b1;
    margin-bottom: 9px;
}

.resent-card {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(85, 112, 138, 0.19);
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    display: flex;
    margin-bottom: 13px;
    padding: 14px 21px 17px 15px;
    gap: 14px;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 18px 40px rgba(109, 141, 172, 0.17);
    }
}

.resent-head {
    width: 121px;
    height: 97px;
    flex-shrink: 0;

    img {
        width: 121px;
        height: 97px;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
    }
}

.resent-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

.resent-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.resent-coll-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.resent-name {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.16;
    color: #2e2d2d;
    margin-top: 13px;
    margin-bottom: 17px;
}
.resent-place {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.142;
    color: #a0a8b1;
    padding-left: 30px;
    position: relative;
    &::before {
        content: url("../../assets/img/location.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 3px;
    }
}

.resent-data {
    font-size: 0.875rem;
    line-height: 1.57;
    color: #a3a3a3;
    span {
        font-weight: 500;
        color: #000000;
        padding-right: 7px;
        padding-left: 1px;
    }
    display: flex;
    align-items: center;
}

.resent-time {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.14;

    color: #010101;
    padding: 8px 18px;

    background: #e4fbdc;
    border-radius: 32px;
}

.resent-partner-img {
    width: 38px;
    height: 38px;
    margin-right: 15px;
    .finder__review-avatar {
        width: 38px;
        height: 38px;
        img {
            width: 38px;
            height: 38px;
        }
    }
}
.resent-partner-name {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.14;
    color: #6c757d;
}
.resent-svg {
    fill: #a0a8b1;
}
.resent-upcomming {
    .resent-card {
        border: 1px solid #e2e1e1;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        &:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        filter: grayscale(100%);

        .resent-svg-box {
            span {
                color: #808080;
            }
        }
    }
}
