.search-box {
    background: #ffffff;
    border-bottom: 1px solid #f3f4f7;
}
.search-mobil-btn {
    display: none;
}
.search-place-filter {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: none;
}
.search-form {
    box-shadow: none;
    .main__box-inner {
        background: none;
    }

    .main__form-title {
        font-weight: normal;
        font-size: 12px;
        line-height: 170%;
        color: #a0a8b1;
        margin-bottom: 0;
    }
    .main__form-box.autocomplete-box {
        width: 248px;
        padding-bottom: 4px;
        border-right: 1px solid #f3f4f7;

        border-radius: 0;
        margin-right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0);
        &:hover {
            border-radius: 16px;
            border: 1px solid #c2e631;
        }
        &:nth-child(2) {
            width: 230px;
            padding-left: 10px;
            border-top: 1px solid rgba(0, 0, 0, 0);
            &:hover {
                border-radius: 16px;
                border: 1px solid #c2e631;
            }
        }
    }
    .main__box-inner {
        width: 181px;
        padding-bottom: 4px;
        border-right: 1px solid #f3f4f7;
        border-radius: 0;
        margin-right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0);
        &:hover {
            border-radius: 16px;
            border: 1px solid #c2e631;
        }
        &:nth-child(2) {
            width: 168px;
            border-right: none;
            padding-left: 11px;
            margin-right: 5px;
            border-top: 1px solid rgba(0, 0, 0, 0);
            &:hover {
                border-radius: 16px;
                border: 1px solid #c2e631;
            }
        }
    }
    .btn.main-btn {
        width: 143px;
        height: 46px;

        font-weight: 500;
        font-size: 0.875rem;
        line-height: 150%;
    }
    .main__box-inner.place,
    .main__box-inner.time {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(0, 0, 0, 0);
        &:hover {
            border: 1px solid #c2e631;
        }
    }
}
