.sidebar__right {
    width: 100%;
}

.sidebar__right-head {
    background: url("../../assets/img/sidebar__right-head.svg") no-repeat left 10% top,
        url("../../assets/img/sidebar__right-head.svg") no-repeat right 30% top, #5eaf8c;
    border-radius: 20px;
    padding: 16px 133px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    overflow: hidden;
}

.sidebar-img-box {
    position: relative;

    &::before {
        content: "";
        width: 220px;
        height: 220px;
        position: absolute;
        border-radius: 220px;
        bottom: -40px;
        background: rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
    img {
        width: 238px;
        height: 199px;
        object-fit: contain;
        position: relative;
        z-index: 1;
    }
}

.sidebar__right-title {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 110.52%;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 17px;
}

.sidebar__right-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sidebar__right-row-title {
    font-family: "Oswald";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 132%;
    display: flex;
    align-items: center;

    color: #000000;
}

.sidebar__right-row-span {
    font-size: 0.875rem;
    line-height: 116%;
    padding-left: 13px;
    padding-right: 9px;
}

.sidebar__right-link {
    padding: 15px 33px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.14;
    color: #ffffff;
    display: inline-block;
    transition: 0.3s all ease-in-out;
    &:hover {
        background: #c2e631;
        border: 1px solid #c2e631;
    }
}

.sidebar__right-row {
    margin-bottom: 10px;
    .finder__player-img:nth-child(2n),
    .finder__player-img:nth-child(2n + 1) {
        margin-right: -5px;
    }
}
