.statistics-about {
    padding-bottom: 0;

    .statistics__wrapp {
        padding-top: 22px;
        justify-content: space-between;
        padding-left: 45px;
        max-width: 1252px;
    }
    .statistics__box-title {
        margin-bottom: 6px;
    }
    .statistics__box-subtitle {
        padding-left: 12px;
    }
}
