<div class="about">
    <div class="container">
        <div class="about__wrapp">
            <div class="about-coll">
                <div class="about-title">
                    Connecting players and supporting their passion for the sport
                </div>
                <div class="about-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    laboreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                </div>
            </div>
            <div class="about__box-img">
                <img class="about-img" src="./assets/img/about.png" alt="">
            </div>
        </div>
    </div>
</div>