<div class="approve">
    <div class="resent-title">
        My Bookings
    </div>
    <div class="approve-search-line">
        <div class="approve-search-box">
            <input type="search" class="approve-search-input popup-input" placeholder="Search">
            <button class="approve-search-btn">
                <span>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                            stroke="#A0A8B1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.5 17.5L13.875 13.875" stroke="#A0A8B1" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
            </button>
        </div>
        <div class="approve-search-coll">
            <button class="approve-coll-btn">
                <span>
                    <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M8.70726 12.293L7.29304 13.7072L0.585938 7.00008L7.29304 0.292969L8.70726 1.70718L3.41436 7.00008L8.70726 12.293Z"
                            fill="#A0A8B1" />
                    </svg>
                </span>
            </button>
            <div class="select approve-select-month">
                <div class="select__header">
                    <span class="select__current">
                        This Month
                    </span>
                </div>
                <div class="select__body">
                    <div class="select__item">
                        This Month
                    </div>
                    <div class="select__item">
                        This Month
                    </div>
                    <div class="select__item">
                        This Month
                    </div>
                </div>
            </div>
            <button class="approve-coll-btn">
                <span>
                    <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.58586 7.00008L0.292969 1.70718L1.70718 0.292969L8.41429 7.00008L1.70718 13.7072L0.292969 12.293L5.58586 7.00008Z"
                            fill="#A0A8B1" />
                    </svg>

                </span>
            </button>
        </div>
    </div>
    <div class="approve-wrapp">
        <a href="#" class="approve-box">
            <div class="approve-box-coll">
                <div class="approve-head">
                    <div class="approve-status">
                        New booking
                    </div>
                    <div class="approve-date">
                        Feb 14, 2021
                    </div>
                    <div class="approve-time">
                        01.00 - 02.00 PM
                    </div>
                </div>
                <div class="approve-body">
                    <div class="approve-box-img">
                        <img src="./assets/img/book-slaid-1.png" alt="">
                    </div>
                    <div class="approve-box-name">
                        Padel Sant Marti
                    </div>
                </div>
            </div>
            <div class="approve-box-coll-2">
                <button class="approve-button" data-schedule="#schedule">
                    Check Schedule
                </button>
                <button class="approve-btn btn">
                    Approved booking
                </button>
            </div>
        </a>

        <a href="#" class="approve-box">
            <div class="approve-box-coll">
                <div class="approve-head">
                    <div class="approve-status">
                        New booking
                    </div>
                    <div class="approve-date">
                        Feb 14, 2021
                    </div>
                    <div class="approve-time">
                        01.00 - 02.00 PM
                    </div>
                </div>
                <div class="approve-body">
                    <div class="approve-box-img">
                        <img src="./assets/img/book-slaid-1.png" alt="">
                    </div>
                    <div class="approve-box-name">
                        Padel Sant Marti
                    </div>
                </div>
            </div>
            <div class="approve-box-coll-2">
                <button class="approve-button" data-schedule="#schedule">
                    Check Schedule
                </button>
                <button class="approve-btn btn">
                    Approved booking
                </button>
            </div>
        </a>

        <a href="#" class="approve-box">
            <div class="approve-box-coll">
                <div class="approve-head">
                    <div class="approve-status">
                        New booking
                    </div>
                    <div class="approve-date">
                        Feb 14, 2021
                    </div>
                    <div class="approve-time">
                        01.00 - 02.00 PM
                    </div>
                </div>
                <div class="approve-body">
                    <div class="approve-box-img">
                        <img src="./assets/img/book-slaid-1.png" alt="">
                    </div>
                    <div class="approve-box-name">
                        Padel Sant Marti
                    </div>
                </div>
            </div>
            <div class="approve-box-coll-2">
                <button class="approve-button" data-schedule="#schedule">
                    Check Schedule
                </button>
                <button class="approve-btn btn">
                    Approved booking
                </button>
            </div>
        </a>

        <a href="#" class="approve-box">
            <div class="approve-box-coll">
                <div class="approve-head">
                    <div class="approve-status">
                        New booking
                    </div>
                    <div class="approve-date">
                        Feb 14, 2021
                    </div>
                    <div class="approve-time">
                        01.00 - 02.00 PM
                    </div>
                </div>
                <div class="approve-body">
                    <div class="approve-box-img">
                        <img src="./assets/img/book-slaid-1.png" alt="">
                    </div>
                    <div class="approve-box-name">
                        Padel Sant Marti
                    </div>
                </div>
            </div>
            <div class="approve-box-coll-2">
                <button class="approve-button" data-schedule="#schedule">
                    Check Schedule
                </button>
                <button class="approve-btn btn">
                    Approved booking
                </button>
            </div>
        </a>




    </div>


</div>
<div id="schedule" class="approved-tab">
    {{>schedule}}
</div>