<div class="artic">
    <div class="container artic__wrapp">
        <div class="artic-title">
            What is Done
        </div>
        <div class="artic-text">
            Earth is the third planet from the Sun and the only astronomical object known to harbor life. According
            to radiometric dating estimation and other evidence, Earth formed over 4.5 billion years ago. Earth is
            the third planet from the Sun and the only astronomical object known to harbor life. According to
            radiometric dating estimation and other evidence, Earth formed over 4.5 billion years ago. Earth is the
            third planet from the Sun and the only astronomical object known to harbor life. According to
            radiometric dating estimation and other evidence, Earth formed over 4.5 b
        </div>
        <a href="#" class="artic-link">
            Read more
        </a>
    </div>
</div>