<div class="benefit">
    <div class="container">
        <div class="benefit__wrapp">
            <div class="benefit-box-img">
                <div class="benefit-img-wrapp-1">
                    <div class="benefit-img-wrapp-2">
                        <div class="benefit-img-wrapp-3">
                            <img class="benefit-img-1" src="./assets/img/benefit-img-1.png" alt="">
                        </div>
                    </div>
                </div>
                <img class="benefit-img-2" src="./assets/img/benefit-img-2.png" alt="">
                <div class="benefit-box-text">
                    Hi Samantha
                </div>
                <div class="benefit-box-text --two">
                    Yes, Tomorrow I can
                </div>
                <div class="benefit-box-mess">
                    Message me
                </div>
            </div>
            <div class="benefit-coll">
                <div class="benefit-title">
                    We will help you find a partner with two clicks
                </div>
                <div class="benefit-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        laboreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        laboreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>