<div class="blog__head">
    <div class="container blog__head-contain">
        <div class="blog-title">
            Blog
        </div>
        <div class="blog__wrapper">
            <button class="blog-btn active" data-filter="all">
                All
            </button>
            <button class="blog-btn" data-filter="news">
                News
            </button>
            <button class="blog-btn" data-filter="companies">
                Company
            </button>
            <button class="blog-btn" data-filter="about">
                About tennis
            </button>
        </div>
    </div>
</div>