<div class="book-body">
    <div class="book-left"></div>
    <div class="book-right">
        <div class="book-right-box-img">
            <img class="book-right-img" src="./assets/img/book-1.png" alt="">
        </div>
        <div class="book-right-wrapp">
            <div class="book-right-title">
                Padel Sant Marti
            </div>
            <div class="book-right-row">
                <div class="book-right-inner">
                    Out door
                </div>
                <div class="book-right-inner">
                    Wall
                </div>
                <div class="book-right-inner">
                    Double
                </div>
            </div>
        </div>
    </div>
</div>