<div id="bookingpay-noactive" class="bookingpay-noactive">
    <div class="bookingpay-head">
        Booking details
        <button class="choosetime-close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L12 10.5858L18.2929 4.29289C18.6834 3.90237 19.3166 3.90237 19.7071 4.29289C20.0976 4.68342 20.0976 5.31658 19.7071 5.70711L13.4142 12L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L12 13.4142L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L10.5858 12L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289Z"
                    fill="#787A80" />
            </svg>
        </button>
    </div>
    <div class="bookingpay-noactive-wrapp">
        <div class="resent-card">
            <div class="resent-head">
                <img src="./assets/img/blog-13.png" alt="">
            </div>
            <div class="resent-body">
                <div class="resent-coll">
                    <div class="resent-name">
                        Padel Sant Marti
                    </div>
                    <div class="resent-place">
                        W. Gray St. Utica, Pennsylvania
                    </div>
                </div>
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Type
            </div>
            <div class="bookingpay__row-status">
                Indoor
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Size
            </div>
            <div class="bookingpay__row-status">
                Double
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Features
            </div>
            <div class="bookingpay__row-status">
                Wall
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Date
            </div>
            <div class="bookingpay__row-status">
                <span>
                    14 June,
                </span> We
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Time
            </div>
            <div class="bookingpay__row-status --time">
                18:00 - 19:00
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Duration
            </div>
            <div class="bookingpay__row-status">
                1 h 00 min
            </div>
        </div>

    </div>

    <div class="bookingpay-noactive-account">

        <div class="bookingpay-account-title">
            Please log in to proseed with the booking
        </div>
        <div class="popup-subtitle">
            Continue with
        </div>
        <div class="popup-wrapp">
            <a href="#" class="popup-input-btn">
                With Google
            </a>
            <a href="#" class="popup-input-btn facebook">
                Facebook
            </a>
        </div>
        <div class="popup-subtitle --two">
            or login in
        </div>

        <div id="tab-11" class="popup-login active">
            <div class="popup-form-title">
                Email
            </div>
            <div class="email-box">
                <input class="input-email" type="text" placeholder="Your working email">
                <div class="error-text">
                    Error message goes here
                </div>
            </div>
            <div class="popup-form-title">
                Password
            </div>
            <div class="password-box">
                <input id="pwd-145" class="input-password" type="password">
                <button class="password-btn" data-password="#pwd-145">
                    <img src="./assets/img/Eye.svg" alt="">
                </button>
            </div>
            <div class="popup-row">
                <label class="popup-label">
                    <input class="popup-label-check" type="checkbox">
                    <span class="label-popup-span">
                        Keep me signed in
                    </span>
                </label>
                <a href="#" class="popup-btn-link">
                    Forgot password?
                </a>
            </div>
            <button class="popup-link btn" type="submit" data-choosebooking="#choosebooking">
                log in
            </button>
            <div class="popup-row-2 ">
                Don't have an account?
                <button class="popup-btn login-in" data-popup="#tab-12">
                    Sign up
                </button>
            </div>
        </div>

        <div id="tab-12" class="popup-login">
            <div class="popup-form-title ">
                Your name
            </div>
            <input class="popup-input fill-name fill-name-2 sample-2" type="text" placeholder="Enter your full name">
            <div class="popup-form-title">
                Email
            </div>
            <div class="email-box">
                <input class="input-email --email --email-2 sample-2" type="text" placeholder="Your working email">
                <div class="error-text">
                    Error message goes here
                </div>
            </div>
            <div class="popup-form-title">
                Phone number
            </div>
            <input class="popup-input phone-2  phone sample-2" type="text">
            <div class="popup-form-title">
                Password
            </div>
            <div class="password-box --two">
                <input id="pwd-24" class="pwd-conf-new-1 input-password sample-2" type="password">
                <div class="error-text">
                    Error message goes here
                </div>
                <button class="password-btn" data-password="#pwd-24">
                    <img src="./assets/img/Eye.svg" alt="">
                </button>
            </div>
            <div class="popup-form-title">
                Confirm password
            </div>
            <div class="password-box --two">
                <input id="pwd-34" class="pwd-conf-new-2 input-password sample-2" type="password">
                <div class="error-text">
                    Error message goes here
                </div>
                <button class="password-btn" data-password="#pwd-34">
                    <img src="./assets/img/Eye.svg" alt="">
                </button>
            </div>

            <button class="popup-link popup-link-two popup-link-two-2 btn --deactive" type="submit">
                Create account
            </button>
            <div class="popup-row-2 --two ">
                Don't have an account?
                <button class="popup-btn sign-up" data-popup="#tab-11">
                    Log in
                </button>
            </div>
        </div>
    </div>

</div>