<div class="book-left">
    <div class="book-control">
        <div class="">
            <button></button><button></button>
            <div class="">

                <div class="">

                </div>

                <div class="">

                </div>
            </div>
        </div>
        <div class="">
            11/21/2021 - 11/27/2021
        </div>
        <div class="">
            <button>DAY</button>
            <button>
                Week
            </button>
        </div>
    </div>
    <div class="book-head"></div>
    <div class="book-body">

    </div>
</div>