<div class="book-week">
    <div class="book-week-head">
        <div class="book__week-head-coll"></div>
        <div class="book__week-head-coll">
            Sun
        </div>
        <div class="book__week-head-coll">
            Mon
        </div>
        <div class="book__week-head-coll">
            Tue
        </div>
        <div class="book__week-head-coll">
            Wed
        </div>
        <div class="book__week-head-coll">
            Thu
        </div>
        <div class="book__week-head-coll">
            Fri
        </div>
        <div class="book__week-head-coll">
            Sat
        </div>
    </div>
    <div class="book-week-body">
        <div class="book-week-row">
            <div class="book-week-hours">
                7.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box  --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                8.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                9.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                10.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box background-A1D98F">

                    </div>
                </div>
            </div>
            <div class=" book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box  --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                11.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                12.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                13.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                14.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                15.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                16.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                17.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                18.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                19.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                20.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                21.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>

        <div class="book-week-row">
            <div class="book-week-hours">
                22.00
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box ">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box active">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box ">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one">
                    <div class="book-week-box --green">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box --green">

                    </div>
                </div>
            </div>
            <div class="book-week-day">
                <div class="book-week-inner --one ">
                    <div class="book-week-box active">

                    </div>
                </div>
                <div class="book-week-inner --two">
                    <div class="book-week-box">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>book-week-popup}}
</div>