<div id="bookingpay-date" class="bookingpay-date">
    <div class="menu-date-header">
        Choose date
        <button class="menu-calendar-close menu-close--btn ">
            <span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.99999 6.58578L14.2929 0.292893C14.6834 -0.0976313 15.3166 -0.0976307 15.7071 0.292894C16.0976 0.683418 16.0976 1.31658 15.7071 1.70711L9.41421 7.99999L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99999 9.41421L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292894 15.7071C-0.0976307 15.3166 -0.0976313 14.6834 0.292893 14.2929L6.58578 7.99999L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"
                        fill="#787A80" />
                </svg>
            </span>
        </button>
    </div>
    <div class="menu-date-wrapper">
        <div class="menu-date__box">
            <div class="time__box-btn  background-F0F3F5">6 : 00</div>
            <div class="time__box-btn">6 : 30</div>
            <div class="time__box-btn">7 : 00</div>
            <div class="time__box-btn">7 : 30</div>
            <div class="time__box-btn">8 : 00</div>
            <div class="time__box-btn background-F0F3F5">8 : 30</div>
            <div class="time__box-btn">9 : 00</div>
            <div class="time__box-btn">9 : 30</div>
            <div class="time__box-btn background-F0F3F5">10 : 00</div>
            <div class="time__box-btn">10 : 30</div>
            <div class="time__box-btn background-F0F3F5">11 : 00</div>
            <div class="time__box-btn background-F0F3F5">11 : 30</div>
            <div class="time__box-btn">12 : 00</div>
            <div class="time__box-btn">12 : 30</div>
            <div class="time__box-btn">13 : 00</div>
            <div class="time__box-btn background-F0F3F5">13 : 30</div>
            <div class="time__box-btn">14 : 00</div>
            <div class="time__box-btn">14 : 30</div>
            <div class="time__box-btn">15 : 00</div>
            <div class="time__box-btn">15 : 30</div>
            <div class="time__box-btn background-F0F3F5">16 : 00</div>
            <div class="time__box-btn">16 : 30</div>
            <div class="time__box-btn">17 : 00</div>
            <div class="time__box-btn">17 : 30</div>
            <div class="time__box-btn background-F0F3F5">18 : 00</div>
            <div class="time__box-btn">18 : 30</div>
            <div class="time__box-btn">19 : 00</div>
            <div class="time__box-btn">19 : 30</div>
            <div class="time__box-btn">20 : 00</div>
            <div class="time__box-btn">20 : 30</div>
            <div class="time__box-btn">21 : 00</div>
            <div class="time__box-btn">21 : 30</div>
        </div>
    </div>
    <div class="menu-date-footer">
        <button class="menu-date-clear">
            Clear
        </button><button class="btn menu-date-done" data-bookingpay="#bookingpay">
            Done
        </button>
    </div>

</div>