<div class="booking-popup">
    <div class="booking-popup-title">
        Padel Sant Marti
        <div class="booking-popup-time">
            09:00
        </div>
    </div>
    <label class="booking-popup-label">
        <input class="booking-popup-radio" type="radio" name="booking-popup" value="8 $" checked>
        <span class="booking-popup-span">
            1 h 00 min
            <span class="booking-popup-money">
                8 $
            </span>

        </span>
    </label>
    <label class="booking-popup-label">
        <input class="booking-popup-radio" type="radio" name="booking-popup" value="10,5 $">
        <span class="booking-popup-span">
            1 h 30 min
            <span class="booking-popup-money">
                10,5 $
            </span>
        </span>
    </label>
    <label class="booking-popup-label">
        <input class="booking-popup-radio" type="radio" name="booking-popup" value="15 $">
        <span class="booking-popup-span">
            2 h 00 min
            <span class="booking-popup-money">
                15 $
            </span>
        </span>
    </label>
    <button class="booking-popup-btn btn">
        Book - <span class="booking-popup-summ">8 $</span>
    </button>

</div>