<div id="bookingpay" class="bookingpay">
    <div class="bookingpay-head">
        Booking details
        <button class="choosetime-close close-btn-chooset">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L12 10.5858L18.2929 4.29289C18.6834 3.90237 19.3166 3.90237 19.7071 4.29289C20.0976 4.68342 20.0976 5.31658 19.7071 5.70711L13.4142 12L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L12 13.4142L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L10.5858 12L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289Z"
                    fill="#787A80" />
            </svg>
        </button>
    </div>
    <div class="bookingpay-wrapp">
        <div class="resent-card">
            <div class="resent-head">
                <img src="./assets/img/blog-13.png" alt="">
            </div>
            <div class="resent-body">
                <div class="resent-coll">
                    <div class="resent-name">
                        Padel Sant Marti
                    </div>
                    <div class="resent-place">
                        W. Gray St. Utica, Pennsylvania
                    </div>
                </div>
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Type
            </div>
            <div class="bookingpay__row-status">
                Indoor
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Size
            </div>
            <div class="bookingpay__row-status">
                Double
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Features
            </div>
            <div class="bookingpay__row-status">
                Wall
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Date
            </div>
            <div class="bookingpay__row-status">
                <span>
                    14 June,
                </span> We
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Time
            </div>
            <div class="bookingpay__row-status --time">
                18:00 - 19:00
            </div>
        </div>
        <div class="bookingpay-row">
            <div class="bookingpay__row-name">
                Duration
            </div>
            <div class="bookingpay__row-status">
                1 h 00 min
            </div>
        </div>

    </div>
    <div class="bookingpay-footer">
        <button class="choosetime__wrapp-btn btn" data-noactive="#bookingpay-noactive">
            Continue to payment - <span class="booking-popup-summ"> 8 $ </span>
        </button>
    </div>
</div>