<div class="book-day">
    <div class="book-day-name">
        Friday
    </div>
    <div class="book__day-box">
        <div class="book__day-time">
            7.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="7.00">
                <div class="book__line-box active background-F0F3F5">
                    not available
                </div>
            </div>
            <div class="book__line-container" data-time="7.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>
        <div class="book__day-time">
            8.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="8.00">
                <div class="book__line-box  background-A1D98F">

                </div>
            </div>
            <div class="book__line-container" data-time="8.30">
                <div class="book__line-box background-A1D98F">

                </div>

            </div>
        </div>
        <div class="book__day-time">
            9.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="9.00">
                <div class="book__line-box ">

                </div>
            </div>
            <div class="book__line-container" data-time="9.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            10.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="10.00">
                <div class="book__line-box ">

                </div>
            </div>
            <div class="book__line-container" data-time="10.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            11.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="11.00">
                <div class="book__line-box active background-F0F3F5">

                </div>
            </div>
            <div class="book__line-container" data-time="11.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            12.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="12.00">
                <div class="book__line-box  active background-F0F3F5">

                </div>
            </div>
            <div class="book__line-container" data-time="12.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            13.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="13.00">
                <div class="book__line-box active background-F0F3F5">

                </div>
            </div>
            <div class="book__line-container" data-time="13.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            14.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="14.00">
                <div class="book__line-box ">

                </div>
            </div>
            <div class="book__line-container" data-time="14.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            15.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="15.00">
                <div class="book__line-box ">

                </div>
            </div>
            <div class="book__line-container" data-time="15.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>

        <div class="book__day-time">
            16.00
        </div>
        <div class="book__day-line">
            <div class="book__line-container" data-time="16.00">
                <div class="book__line-box ">

                </div>
            </div>
            <div class="book__line-container" data-time="16.30">
                <div class="book__line-box">

                </div>
            </div>
        </div>


        {{>booking-popup}}
    </div>
</div>