<div class="brands">
    <div class="container">
        <div class="brands-title">
            Brands we've worked with
        </div>
        <div class="brands__wrapp">

            <a href="#" class="brands__box">
                <img class="brands-img-1" src="./assets/img/brands-1.svg" alt="" class="brands-img-1">

            </a>

            <a href="#" class="brands__box">
                <img class="brands-img-1" src="./assets/img/brands-2.svg" alt="" class="brands-img-1">

            </a>

            <a href="#" class="brands__box">
                <img class="brands-img-1" src="./assets/img/brands-3.svg" alt="" class="brands-img-1">

            </a>

            <a href="#" class="brands__box">
                <img class="brands-img-1" src="./assets/img/brands-4.svg" alt="" class="brands-img-1">

            </a>

            <a href="#" class="brands__box">
                <img class="brands-img-1" src="./assets/img/brands-5.svg" alt="" class="brands-img-1">

            </a>

            <a href="#" class="brands__box">
                <img class="brands-img-1" src="./assets/img/brands-6.svg" alt="" class="brands-img-1">
            </a>


        </div>
    </div>
</div>