<div class="calendar__container">
    <div class="calendar__container-wrapp">
        <div class="calendar__box">
            <div class="calendar__box-coll">
                <div class="calendar__head">
                    <button class="calendar-btn btn-prev">
                    </button>
                    <div class="calendar__month">
                        December 2021
                    </div>
                </div>
                <div class="calendar__body">
                    <div class="calendar__box-week">
                        <div class="calendar__week">
                            Mo
                        </div>
                        <div class="calendar__week">
                            Tu
                        </div>
                        <div class="calendar__week">
                            We
                        </div>
                        <div class="calendar__week">
                            Th
                        </div>
                        <div class="calendar__week">
                            Fr
                        </div>
                        <div class="calendar__week">
                            Sa
                        </div>
                        <div class="calendar__week">
                            Su
                        </div>
                    </div>
                    <div class="calendar__box-day">
                        <div class="calendar__day">
                            1
                        </div>
                        <div class="calendar__day">
                            2
                        </div>
                        <div class="calendar__day">
                            3
                        </div>
                        <div class="calendar__day">
                            4
                        </div>
                        <div class="calendar__day">
                            5
                        </div>
                        <div class="calendar__day">
                            6
                        </div>
                        <div class="calendar__day">
                            7
                        </div>
                        <div class="calendar__day">
                            8
                        </div>
                        <div class="calendar__day">
                            9
                        </div>
                        <div class="calendar__day">
                            10
                        </div>
                        <div class="calendar__day active">
                            11
                        </div>
                        <div class="calendar__day">
                            12
                        </div>
                        <div class="calendar__day">
                            13
                        </div>
                        <div class="calendar__day">
                            14
                        </div>
                        <div class="calendar__day">
                            15
                        </div>
                        <div class="calendar__day">
                            16
                        </div>
                        <div class="calendar__day">
                            17
                        </div>
                        <div class="calendar__day">
                            18
                        </div>
                        <div class="calendar__day">
                            19
                        </div>
                        <div class="calendar__day">
                            20
                        </div>
                        <div class="calendar__day">
                            21
                        </div>
                        <div class="calendar__day">
                            22
                        </div>
                        <div class="calendar__day">
                            23
                        </div>
                        <div class="calendar__day">
                            24
                        </div>
                        <div class="calendar__day">
                            25
                        </div>
                        <div class="calendar__day">
                            26
                        </div>
                        <div class="calendar__day">
                            27
                        </div>
                        <div class="calendar__day">
                            28
                        </div>
                        <div class="calendar__day">
                            29
                        </div>
                        <div class="calendar__day">
                            30
                        </div>
                        <div class="calendar__day">
                            31
                        </div>
                    </div>
                </div>
            </div>
            <div class="calendar__box-coll">
                <div class="calendar__head">
                    <div class="calendar-btn btn-next">
                    </div>
                    <div class="calendar__month">
                        February 2021
                    </div>
                </div>
                <div class="calendar__body">
                    <div class="calendar__box-week">
                        <div class="calendar__week">
                            Mo
                        </div>
                        <div class="calendar__week">
                            Tu
                        </div>
                        <div class="calendar__week">
                            We
                        </div>
                        <div class="calendar__week">
                            Th
                        </div>
                        <div class="calendar__week">
                            Fr
                        </div>
                        <div class="calendar__week">
                            Sa
                        </div>
                        <div class="calendar__week">
                            Su
                        </div>
                    </div>
                    <div class="calendar__box-day">
                        <div class="calendar__day">
                            1
                        </div>
                        <div class="calendar__day">
                            2
                        </div>
                        <div class="calendar__day">
                            3
                        </div>
                        <div class="calendar__day">
                            4
                        </div>
                        <div class="calendar__day">
                            5
                        </div>
                        <div class="calendar__day">
                            6
                        </div>
                        <div class="calendar__day">
                            7
                        </div>
                        <div class="calendar__day">
                            8
                        </div>
                        <div class="calendar__day">
                            9
                        </div>
                        <div class="calendar__day">
                            10
                        </div>
                        <div class="calendar__day">
                            11
                        </div>
                        <div class="calendar__day">
                            12
                        </div>
                        <div class="calendar__day">
                            13
                        </div>
                        <div class="calendar__day">
                            14
                        </div>
                        <div class="calendar__day">
                            15
                        </div>
                        <div class="calendar__day">
                            16
                        </div>
                        <div class="calendar__day">
                            17
                        </div>
                        <div class="calendar__day">
                            18
                        </div>
                        <div class="calendar__day">
                            19
                        </div>
                        <div class="calendar__day">
                            20
                        </div>
                        <div class="calendar__day">
                            21
                        </div>
                        <div class="calendar__day">
                            22
                        </div>
                        <div class="calendar__day">
                            23
                        </div>
                        <div class="calendar__day">
                            24
                        </div>
                        <div class="calendar__day">
                            25
                        </div>
                        <div class="calendar__day">
                            26
                        </div>
                        <div class="calendar__day">
                            27
                        </div>
                        <div class="calendar__day">
                            28
                        </div>
                        <div class="calendar__day">
                            29
                        </div>
                        <div class="calendar__day">
                            30
                        </div>
                        <div class="calendar__day">
                            31
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>