<div id="choosebooking" class="choosebooking">
    <div class="choosebooking-head">
        Booking
        <button class="choosetime-close">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L12 10.5858L18.2929 4.29289C18.6834 3.90237 19.3166 3.90237 19.7071 4.29289C20.0976 4.68342 20.0976 5.31658 19.7071 5.70711L13.4142 12L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L12 13.4142L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L10.5858 12L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289Z"
                    fill="#787A80" />
            </svg>
        </button>
    </div>
    <div class="choosebooking-wrapp">
        <div class="resent-card">
            <div class="resent-head">
                <img src="./assets/img/blog-13.png" alt="">
            </div>
            <div class="resent-body">
                <div class="resent-coll">
                    <div class="resent-name">
                        Padel Sant Marti
                    </div>
                    <div class="resent-place">
                        W. Gray St. Utica, Pennsylvania
                    </div>
                </div>
                <div class="resent-coll resent-coll-2">
                    <div class="resent-row">
                        <div class="resent-data">
                            <span class="resent-svg-box">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="resent-svg"
                                        d="M19.1735 20H4.82648C3.82192 20 3 19.0994 3 17.9987V7.00133C3 5.9006 3.82192 5 4.82648 5H19.1735C20.1781 5 21 5.9006 21 7.00133V17.9987C21 19.0994 20.1872 20 19.1735 20Z"
                                        fill="#A0A8B1" stroke="#A0A8B1" stroke-width="1.3" stroke-miterlimit="10"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path class="resent-svg" d="M7.14062 7V3" stroke="#A0A8B1" stroke-width="1.3"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path class="resent-svg" d="M16.5703 7V3" stroke="#A0A8B1" stroke-width="1.3"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <rect x="7.80078" y="12" width="1.3" height="1.3" fill="white" />
                                    <rect x="11.8008" y="12" width="1.3" height="1.3" fill="white" />
                                    <rect x="15.8008" y="12" width="1.3" height="1.3" fill="white" />
                                    <rect x="7.80078" y="15" width="1.3" height="1.3" fill="white" />
                                    <rect x="11.8008" y="15" width="1.3" height="1.3" fill="white" />
                                    <rect x="15.8008" y="15" width="1.3" height="1.3" fill="white" />
                                    <path class="resent-svg" d="M2 9L22 9" stroke="white" stroke-width="1.3"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span> 14 June,</span> We
                        </div>
                        <div class="resent-time">
                            18:00 - 19:00
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <div class="book-right-title">
            Features
        </div>
        <div class="book-right-row">
            <div class="book-right-inner">
                Out door
            </div>
            <div class="book-right-inner">
                Wall
            </div>
            <div class="book-right-inner">
                Double
            </div>
        </div>
        <div class="choosebooking-label-title">
            Choose the Duration
        </div>
        <label class="booking-popup-label">
            <input class="booking-popup-radio" type="radio" name="booking-popup" value="8 $" checked>
            <span class="booking-popup-span">
                1 h 00 min
                <span class="booking-popup-money">
                    8 $
                </span>

            </span>
        </label>
        <label class="booking-popup-label">
            <input class="booking-popup-radio" type="radio" name="booking-popup" value="10,5 $">
            <span class="booking-popup-span">
                1 h 30 min
                <span class="booking-popup-money">
                    10,5 $
                </span>
            </span>
        </label>
        <label class="booking-popup-label">
            <input class="booking-popup-radio" type="radio" name="booking-popup" value="15 $">
            <span class="booking-popup-span">
                2 h 00 min
                <span class="booking-popup-money">
                    15 $
                </span>
            </span>
        </label>

    </div>
    <button class="choosetime__wrapp-btn choosebooking__wrapp-btn btn">
        Continue to payment - <span class="booking-popup-summ"> 8 $ </span>
    </button>
</div>