<div class="company">
    <div class="company__wrapp container">
        <div class="company__slick">
            <a href="#" class="company__slick-box">
                <img src="./assets/img/redfin.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/redfin.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/zillow.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/compass.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/homes.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/trulias.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/realtor.svg" alt="" class="company-img">
            </a>
            <a href="#" class="company__slick-box">
                <img src="./assets/img/zillow.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/redfin.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/redfin.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/zillow.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/compass.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/homes.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/trulias.svg" alt="" class="company-img">
            </a>

            <a href="#" class="company__slick-box">
                <img src="./assets/img/realtor.svg" alt="" class="company-img">
            </a>
            <a href="#" class="company__slick-box">
                <img src="./assets/img/zillow.svg" alt="" class="company-img">
            </a>

        </div>
    </div>
</div>