<div class="courts">
    <div class="courts-header-row">
        <div class="sidebar-close-btn courts-title">
            My Courts

        </div>
        <button class="courts-btn-add btn" data-courts="#new-courts-add">
            Add new court
        </button>
    </div>

    <div class="courts-wrapper">
        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-1.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>


        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-2.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>

        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-3.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>

        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-4.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>

        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-5.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>

        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-6.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>

        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-7.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>

        <a href="#" class="courts-box">
            <div class="courts-box-wrapp">
                <div class="courts-box-img">
                    <img src="./assets/img/courts-8.png" alt="">
                </div>
                <div class="courts-box-name">
                    Padel Sant Marti
                </div>
            </div>
            <button class="courts-box-btn" data-edit="#open-edit">
                Edit
            </button>
        </a>
    </div>
</div>
<div id="new-courts-add" class="courts-tab">
    {{>new}}
</div>
<div id="open-edit" class="courts-tab">
    {{>edit}}
</div>