<div class="filter">
    <div class="container filter-container">
        <div class="filter__wrapp">
            <div class="filter__select-box">
                <div class="filter-select">
                    Type
                    <div class="filter__select-wrapp">
                        <div class="filter__body">
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value="Indoor">
                                    <span class='check__span'>
                                        Indoor
                                    </span>
                                </label>
                            </div>
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value="Outdoor">
                                    <span class='check__span'>
                                        Outdoor
                                    </span>
                                </label>
                            </div>
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value="Roofed outdoor">
                                    <span class='check__span'>
                                        Roofed outdoor
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-select">
                    Feature
                    <div class="filter__select-wrapp">
                        <div class="filter__body">
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value="Wall">
                                    <span class='check__span'>
                                        Wall
                                    </span>
                                </label>
                            </div>
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value="Crystal">
                                    <span class='check__span'>
                                        Crystal
                                    </span>
                                </label>
                            </div>
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value=" Panoramic">
                                    <span class='check__span'>
                                        Panoramic
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-select">
                    Size
                    <div class="filter__select-wrapp">
                        <div class="filter__body">
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value="Single">
                                    <span class='check__span'>
                                        Single
                                    </span>
                                </label>
                            </div>
                            <div class="filter__item">
                                <label class='check__label'>
                                    <input class='check__input' type="checkbox" value=" Double">
                                    <span class='check__span'>
                                        Double
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="fillter-btn">
                Reset filters
            </button>
        </div>
        <div class="filter-show">
            Show map
            <label class='show-label'>
                <input class='show__input' type="checkbox" value=" Double">
                <span class='show__span'>
                </span>
            </label>
        </div>
    </div>
</div>