<div class="finder">
    <div class="container finder__container">
        <div class="finder__wrapp">
            <div class="finder__coll-1">
                <div class="title finder-title">
                    Player finder
                </div>
                <div class="text finder-text">
                    Amet minim mollit non d eserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia dolor do amet sint. Velit officia
                </div>
                <div class="finder__coll-inner">
                    <a href="#" class='btn finder-find-btn'>
                        Find player
                    </a>
                    <a href="#" class='btn finder-account-btn'>
                        Create account
                    </a>
                </div>
            </div>
            <div class="finder__coll">
                <div class="finder-row">
                    <div class="finder__row-player">
                        <div class="finder__player-box">
                            <img class='finder__player-img' src="./assets/img/avatar-1.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-2.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-3.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-4.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-5.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-6.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-7.jpg" alt="">
                            <img class='finder__player-img' src="./assets/img/avatar-8.jpg" alt="">
                        </div>
                        <div class="finder__player-title">
                            1.3K
                            <span class="finder__player-span">
                                Players
                            </span>
                        </div>
                    </div>

                    <div class="finder__review">
                        <div class="finder__review-avatar">
                            <img src="./assets/img/images-1.jpg" alt="" class="">
                        </div>
                        <div class="finder__review-coll">
                            <div class="finder__review-one">
                                <div class="finder__review-data">
                                    <div class="finder__review-name">
                                        rio-h
                                    </div>
                                    <div class="finder__review-city">
                                        Madrid
                                    </div>
                                </div>
                                <div class="finder__review-btn">
                                    Message me
                                </div>
                            </div>
                            <div class="finder__review-text">
                                Looking for people to play tennis with either on weekday evenings or weekends.
                            </div>
                            <div class="finder__review-two">
                                <div class="finder__review-button">
                                    advanced
                                </div>
                                <div class="finder__review-button">
                                    Weekends only
                                </div>
                                <div class="finder__review-button">
                                    male
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="finder-row two">

                    <div class="finder__review">
                        <div class="finder__review-avatar">
                            <img src="./assets/img/images-2.jpg" alt="" class="">
                        </div>
                        <div class="finder__review-coll">
                            <div class="finder__review-one">
                                <div class="finder__review-data">
                                    <div class="finder__review-name">
                                        MikeWazowski
                                    </div>
                                    <div class="finder__review-city">
                                        Barcerlona
                                    </div>
                                </div>
                                <div class="finder__review-btn">
                                    Message me
                                </div>
                            </div>
                            <div class="finder__review-text">
                                HI I love playing tennis.....so just need someone to practise and have a good time :-)..
                            </div>
                            <div class="finder__review-two">
                                <div class="finder__review-button">
                                    advanced
                                </div>
                                <div class="finder__review-button">
                                    Weekends only
                                </div>
                                <div class="finder__review-button">
                                    male
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="finder-mess">
                        Message me
                    </div>
                </div>

                <div class="finder__review three">
                    <div class="finder__review-avatar">
                        <img src="./assets/img/images-3.jpg" alt="" class="">
                    </div>
                    <div class="finder__review-coll">
                        <div class="finder__review-one">
                            <div class="finder__review-data">
                                <div class="finder__review-name">
                                    rio-h
                                </div>
                                <div class="finder__review-city">
                                    MikeWazo wski
                                </div>
                            </div>
                            <div class="finder__review-btn">
                                Message me
                            </div>
                        </div>
                        <div class="finder__review-text">
                            HI I love playing tennis.....so just need someone to practise and have a good time :-)..
                        </div>
                        <div class="finder__review-two">
                            <div class="finder__review-button">
                                advanced
                            </div>
                            <div class="finder__review-button">
                                Weekends only
                            </div>
                            <div class="finder__review-button">
                                male
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>