<header class="header">
    <div class="header__container container">
        <a class="logo" href="#">
            <img src="./assets/img/logo.png" alt="" class="logo-img">
        </a>
        <ul class="header__list">
            <li class='header__list-inner'>
                <a href="#" class="header-link search">
                    Search
                </a>
            </li>
            <li class='header__list-inner hidden'>
                <a href="#" class="header-link player">
                    Player finder
                </a>
            </li>
            <li class='header__list-inner'>
                <div class="select lang">
                    <div class="select__header">
                        <span class="select__current">
                            eng
                        </span>
                    </div>
                    <div class="select__body">
                        <div class="select__item">eng</div>
                        <div class="select__item">eng</div>
                        <div class="select__item">eng</div>
                    </div>
                </div>
            </li>
            <li class='header__list-inner'>
                <a href="#" class="header__form-link">
                    Sign in
                </a>
            </li>
            <li class='header__list-inner header-btn'>
                <button class="btn-menu">
                    <img src="./assets/img/header-btn.svg" alt="">
                </button>
            </li>
        </ul>
    </div>
</header>