<div class="info">
    <div class="info-title">
        Profile
    </div>
    <div class="info-row">
        <div class="info-row-col --one">
            <div class="info_row-user">
                <div class="info__user-foto">
                    <img src="./assets/img/company.png" alt="">
                </div>
                <div class="info__user-name">
                    Profile image
                </div>
            </div>
            <label class="btn-add-file">
                <input type="file" class="btn-add-file-input">
                <span class="btn-add-file-span btn">Add photo</span>
            </label>
        </div>

    </div>
    <div class="info-row">
        <div class="info-row-col">
            <div class="info__row-title">
                Company name
            </div>
            <input type="text" class="popup-input info-input" placeholder="Enter you full name">
        </div>
        <div class="info-row-col">
            <div class="info__row-title">
                Location
            </div>
            <input type="text" class="info-input popup-input" placeholder="Enter your city">
        </div>
    </div>
    <div class="info-row">
        <div class="info-row-col">
            <div class="info__row-title">
                Email
            </div>
            <div class="email-box">
                <input class="input-email" type="text" placeholder="Your working email">
                <div class="error-text">
                    Error message goes here
                </div>
            </div>
        </div>
        <div class="info-row-col">
            <div class="info__row-title">
                Phome number
            </div>
            <input type="text" class="info-phone-input popup-input" placeholder="">
        </div>
    </div>
    <div class="info-row">
        <div class="info-row-col">
            <div class="info__row-title">
                Password
            </div>
            <div class="password-box --two">
                <input id="pwd-4" class="pwd-conf-one input-password" type="password">
                <div class="error-text">
                    Error message goes here
                </div>
                <button class="password-btn" data-password="#pwd-4">
                    <img src="./assets/img/Eye.svg" alt="">
                </button>
            </div>
        </div>
        <div class="info-row-col">
            <div class="info__row-title">
                Confirm password
            </div>
            <div class="password-box --two">
                <input id="pwd-5" class="pwd-conf-two input-password" type="password">
                <div class="error-text">
                    Error message goes here
                </div>
                <button class="password-btn" data-password="#pwd-5">
                    <img src="./assets/img/Eye.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <button class="btn quest-btn">
        Save
    </button>
</div>