<div class="info-change">
    <div>
        <div class="info-change-title">
            Change Password
        </div>
    </div>
    <div class="info-change-wrapp">
        <div class="info-change-subtitle">
            Change password
        </div>
        <div class="info-change-wrapp-title">
            Current password
        </div>
        <div class="password-box --two">
            <input id="pwd-6" class="info-change-one input-password" type="password">
            <div class="error-text">
                Error message goes here
            </div>
            <button class="password-btn" data-password="#pwd-6">
                <img src="./assets/img/Eye.svg" alt="">
            </button>
        </div>
        <div class="info-change-wrapp-title">
            New password
        </div>
        <div class="password-box --two">
            <input id="pwd-7" class="info-change-two input-password" type="password">
            <div class="error-text">
                Error message goes here
            </div>
            <button class="password-btn" data-password="#pwd-7">
                <img src="./assets/img/Eye.svg" alt="">
            </button>
        </div>
        <div class="info-change-wrapp-title info-change info-change-ok">
            New password
        </div>
        <div class="password-box info-change info-change-ok">
            <input id="pwd-8" class="pwd-conf-two info-pwd-input input-password" type="password">
            <button class="password-btn" data-password="#pwd-8">
                <img class="info-eye" src="./assets/img/Eye.svg" alt="">
                <img class="info-check" src="./assets/img/info-check.svg" alt="">
            </button>
        </div>
        <div class="btn info-change-btn">
            Save Changes
        </div>
    </div>
</div>