<main class="main">
    <div class="container">
        <div class="main__wrapp">
            <h1 class="main-title">
                Let’s book your best tennis court
            </h1>
            <p class="main-text">
                Book your court in over 100 clubs
            </p>
        </div>
        <form action="/" class="main-form">
            <div class="main-form-inner">
                <div class="main__form-box autocomplete-box">
                    <h3 class="main__form-title">
                        Address, name...
                    </h3>
                    <input class="main-form-input address" type="text" placeholder="Padel Sant Marti">
                </div>
                <div class="main__form-box box-two autocomplete-box">
                    <h3 class="main__form-title">
                        Location
                    </h3>
                    <input class="main-form-input location" type="text" placeholder="Barcelona">
                </div>
                <div class="main__form-box --flex">
                    <div class="main__box-inner">
                        <h3 class="main__form-title">
                            Date
                        </h3>
                        <input class="main-form-input input-date" type="text" placeholder="10/11/2021">
                    </div>
                    <div class="main__box-inner date">
                        <h3 class="main__form-title">
                            Time
                        </h3>
                        <input class="main-form-input input-time" type="text" placeholder="17:30">
                    </div>
                </div>
            </div>
            <a href="#" class="btn main-btn">
                Search
            </a>
        </form>
    </div>
</main>