<!---------------------------------yander map----------------------------->
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
</script>
<script>

    function mapActive() {

        ymaps.ready(init);
        // Инициализация и уничтожение карты при нажатии на кнопку.
        function init() {
            var myMap;
            var i;
            var place;
            // массив координат 
            var pointer = [[55.71, 37.60], [55.73, 37.4], [55.74, 37.63], [55.76, 37.54], [55.78, 37.74], [55.2, 30.69], [55.4, 35.69], [55.26, 33.69], [51.156, 37.45169], [55.454, 37.56369], [55.513213, 37.456139], [54.5133, 38.65469]]
            var resultBox = document.querySelectorAll('.result__box');// карточки 

            $('.show__input').bind({
                click: function () {
                    if (!myMap) {
                        myMap = new ymaps.Map('map', {
                            center: [55.76, 37.64],
                            zoom: 10,
                            controls: []
                        }, {
                            searchControlProvider: 'yandex#search'
                        });

                        for (i = 0; i < pointer.length; ++i) {
                            place = new ymaps.Placemark(pointer[i]); // координаты места
                            resultBox[i].setAttribute('number', i) // назначение атрибута на карточку указывающцй порядковый номер координаты

                            place = new ymaps.Placemark(pointer[i], { // Создаем метку с  координатами
                                balloonContent: `<div class="map-box-img">${resultBox[i].innerHTML}</div>`// сдесь содержимое балуна в формате html, все стили в css
                            }, {
                                iconImageHref: './assets/img/icon-map.svg',
                                iconImageSize: [34, 34],
                                iconImageOffset: [-32, -64],
                                iconLayout: 'default#imageWithContent',
                                balloonContentSize: [351, 397],
                                balloonLayout: "default#imageWithContent",
                                balloonImageOffset: [-165, -250],
                                balloonImageSize: [260, 89],
                                balloonShadow: false
                            });
                            myMap.geoObjects.add(place);
                            myMap.behaviors.disable('scrollZoom');
                        }
                        myMap.events.add('click', function (e) {
                            var coords = e.get('coords');

                            myMap.setCenter([coords[0].toPrecision(6), coords[1].toPrecision(6)]);
                            if (myMap.balloon.isOpen()) {

                                myMap.balloon.close();
                            } else {
                                myMap.geoObjects.get(1).balloon.open();
                                myMap.setCenter([55.73, 37.4]);
                            }
                        });

                        // отоброжение на карте карточки места
                        resultBox.forEach((item) => {
                            item.addEventListener('mousemove', () => {
                                let atributeBox = item.getAttribute('number');
                                myMap.geoObjects.get(atributeBox).balloon.open();
                                myMap.setCenter(pointer[atributeBox]);

                            })
                        })

                        // отброжение на карте места первой карточки 

                        myMap.geoObjects.get(0).balloon.open();
                        myMap.setCenter(pointer[0]);

                    } else {
                        myMap.destroy();
                        myMap = null;
                    }

                }
            });
        }

    }
    mapActive()



</script>
<!----------------------------------------------------------------->