<div class="map-balun  ">
    <div class="balun-head">
        <img src="./assets/img/filter-1.jpg" alt="" class="balun-img">
        <div class="balun-title">
            Padel Sant Marti
        </div>
    </div>
    <div class="balun-body">
        <div class="balun-body-place">
            W. Gray St. Utica, Pennsylvania
        </div>
        <div class="balun-body-time">
            <div class="balun-time-box">
                12:30
            </div>
            <div class="balun-time-box">
                14:30
            </div>
            <div class="balun-time-box">
                15:30
            </div>
        </div>
    </div>
</div>