<div class="menu-calendar">
    <div class="menu-calendar-header">
        Choose date
        <button class="menu-calendar-close menu-close--btn">
            <span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.99999 6.58578L14.2929 0.292893C14.6834 -0.0976313 15.3166 -0.0976307 15.7071 0.292894C16.0976 0.683418 16.0976 1.31658 15.7071 1.70711L9.41421 7.99999L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99999 9.41421L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292894 15.7071C-0.0976307 15.3166 -0.0976313 14.6834 0.292893 14.2929L6.58578 7.99999L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"
                        fill="#787A80" />
                </svg>
            </span>
        </button>
    </div>
    <div class="menu-calendar-wrapper">
        <script type="text/template" id="menu-calendar__teplate">
            <div class="calendar__container-wrapp calendar__container-wrapp-no-scroll">
                <div class="calendar__box">
                    <% _.each(months, function(cal) { %>
                        <div class="calendar__box-coll">
                            <div class="calendar__head">
                                <button class="clndr-previous-button calendar-btn btn-prev"></button>
                                    <div class=" calendar__month">
                                        <%= cal.month.format('MMMM YYYY') %>
                                    </div>
                                <button class="clndr-next-button calendar-btn btn-next"></button>
                            </div>
                            <div class="calendar__body">
                                <div class="calendar__box-week">
                                    <% _.each(daysOfTheWeek, function(day) { %>
                                        <div class="calendar__week"><%= day %></div>
                                    <% }); %>
                                </div>
                                <div class="calendar__box-day">
                                    <% _.each(cal.days, function(day) { %>
                                        <div class="calendar__day <%= day.classes %>"><%= day.day %></div>
                                    <% }); %>
                                </div>                       
                            </div>
                        </div>
                    <% }); %>                
                </div>            
            </div> 
            
             </script>
    </div>
    <div class="menu-calendar-footer">
        <button class="menu-calendar-clear clndr-today-button">
            Clear
        </button><button class="menu-close--btn btn menu-calendar-done">
            Done
        </button>
    </div>

</div>