<div class="menu-filter-two">
    <div class="menu-filter-header">
        Filter
        <button class="menu-calendar-close menu-close--btn">
            <span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.99999 6.58578L14.2929 0.292893C14.6834 -0.0976313 15.3166 -0.0976307 15.7071 0.292894C16.0976 0.683418 16.0976 1.31658 15.7071 1.70711L9.41421 7.99999L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L7.99999 9.41421L1.70711 15.7071C1.31658 16.0976 0.683418 16.0976 0.292894 15.7071C-0.0976307 15.3166 -0.0976313 14.6834 0.292893 14.2929L6.58578 7.99999L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"
                        fill="#787A80" />
                </svg>
            </span>
        </button>
    </div>
    <div class="menu-filter-wrapper">
        <div class="menu-filler-inner">
            <div class="menu-filter-wrapper-title">
                Skill level
            </div>
            <div class="menu-filter-box">
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        begginer
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox" checked>
                    <span class="menu-fiter-span">
                        intermidiate
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        advanced
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        semi-professional
                    </span>
                </label>
            </div>
            <div class="menu-filter-wrapper-title">
                What age should players be?
            </div>
            <div class="menu-filter-box">
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        don’t mind
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox" checked>
                    <span class="menu-fiter-span">
                        18-50
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        50+
                    </span>
                </label>
            </div>
            <div class="menu-filter-wrapper-title">
                Availability
            </div>
            <div class="menu-filter-box">
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        Weekends only
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        anytime
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        Weekends only
                    </span>
                </label>
            </div>
            <div class="menu-filter-wrapper-title">
                Gender
            </div>
            <div class="menu-filter-box">
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        male
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        female
                    </span>
                </label>
                <label class="menu-filter-label">
                    <input class="menu-filter-input" type="checkbox">
                    <span class="menu-fiter-span">
                        don’t mind
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="menu-filter-footer">
        <button class="menu-close--btn btn menu-filter-result">
            See 10 results
        </button>
    </div>

</div>