<div class="mess-tab-box">
    <div class="chat-head">
        <button class="mess-btn">
            <span class="mess-btn-img">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="mess-btn-svg"
                        d="M18.9999 6.99997H4.41394L9.70694 1.70697L8.29294 0.292969L0.585938 7.99997L8.29294 15.707L9.70694 14.293L4.41394 8.99997H18.9999V6.99997Z"
                        fill="#2E2D2D" />
                </svg>
            </span>
        </button>
        <div class="message-user">
            <div class="finder__review-avatar">
                <img src="./assets/img/message-1.png" alt="" class="">
            </div>
        </div>
        <div class="mess__chat-name">
            Darlene Steward
        </div>
    </div>
    <div class="chat-body">
        <div class="chat">
            <div class="chat__wrapper">
                <div class="window__chat">
                    <div class="chat__row incoming">
                        <div class="chat-dialog">
                            <div class="chat-text">
                                Hi
                            </div>
                            <div class="chat-time">
                                11:31 AM <img class="chat-text-ok" src="./assets/img/chat-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="chat__row incoming">
                        <div class="chat-dialog">
                            <div class="chat-text">
                                5 pm ok?
                            </div>
                            <div class="chat-time">
                                11:31 AM <img class="chat-text-ok" src="./assets/img/chat-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="chat-row-foto">
                        <div class="chat-avatar">
                            <img class="chat-avtar-img" src="./assets/img/message-1.png" alt="">
                        </div>
                        <div class="chat__row response">
                            <div class="chat-dialog">
                                <div class="chat-name">
                                    Darlene Steward
                                </div>
                                <div class="chat-text">
                                    I’m down! Any ideas??
                                </div>
                                <div class="chat-time">
                                    11:35 AM
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-row-foto">
                        <div class="chat-avatar">
                            <img class="chat-avtar-img" src="./assets/img/message-1.png" alt="">
                        </div>
                        <div class="chat__row response">
                            <div class="chat-dialog">
                                <div class="chat-name">
                                    Darlene Steward
                                </div>
                                <div class="chat-text">
                                    I’m down! Any ideas??
                                </div>
                                <div class="chat-time">
                                    11:35 AM
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat__row incoming">
                        <div class="chat-dialog">
                            <div class="chat-text">
                                5 pm ok?
                            </div>
                            <div class="chat-time">
                                11:31 AM <img class="chat-text-ok" src="./assets/img/chat-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat__input">
                <button class="chat-smail">
                    <img src="./assets/img/smiley.svg" alt="">
                </button>
                <textarea class="chat-textarea" placeholder=" Start typing..."></textarea>
                <button class="chat-enter btn">
                    <img src="./assets/img/chat-arrow.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>