<div class="sidebar-close-btn payment-title">
    Payment Methods
</div>
<div class="payment">
    <div class="payment-wrapper">
        <div class="payment-box">
            <div class="payment-box-head --active">
                <label class="quest__label payment__label">
                    <input class="quest__label-radio payment__label-radio" name="card" type="radio" checked>
                    <span class="quest__label-span payment__label-span">
                        Credit card
                    </span>
                </label>

                <div class="payment-head-coll">
                    <div class="payment-row-img">
                        <img src="./assets/img/visa-logo.svg" alt="">
                    </div>
                    <div class="payment-row-img">
                        <img src="./assets/img/Mastercard.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="payment-box-body">
                <div class="payment__row-title">
                    Card number
                </div>
                <input class="popup-input payment-input -one" type="text" maxlength="16"
                    placeholder="0000 0000 0000 0000">
                <div class="payment-row">
                    <div class="payment-row-coll">
                        <div class="payment__row-title">
                            Expiry date
                        </div>
                        <input class="number-card popup-input payment-input" maxlength="4" type="text"
                            placeholder="mm/yy">

                    </div>
                    <div class="payment-row-coll">
                        <div class="payment__row-title">
                            CVC
                        </div>
                        <input class="popup-input payment-input" type="text" maxlength="3" placeholder="000">
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-box">
            <div class="payment-box-head">
                <label class="quest__label payment__label">
                    <input class="quest__label-radio payment__label-radio" name="card" type="radio">
                    <span class="quest__label-span payment__label-span">
                        PayPal
                    </span>
                </label>
                <div class="payment-head-coll">
                    <div class="payment-row-img">
                        <img src="./assets/img/PayPal.svg" alt="">
                    </div>

                </div>
            </div>
            <div class="payment-box-body">
                <div class="payment__row-title">
                    Card number
                </div>
                <input class="popup-input payment-input -one" type="text" maxlength="16"
                    placeholder="0000 0000 0000 0000">
                <div class="payment-row">
                    <div class="payment-row-coll">
                        <div class="payment__row-title">
                            Expiry date
                        </div>
                        <input class="number-card popup-input payment-input" maxlength="4" type="text"
                            placeholder="mm/yy">

                    </div>
                    <div class="payment-row-coll">
                        <div class="payment__row-title">
                            CVC
                        </div>
                        <input class="popup-input payment-input" type="text" maxlength="3" placeholder="000">
                    </div>
                </div>
            </div>
        </div>


        <div class="payment-box">
            <div class="payment-box-head">
                <label class="quest__label payment__label">
                    <input class="quest__label-radio payment__label-radio" name="card" type="radio">
                    <span class="quest__label-span payment__label-span">
                        Apple pay
                    </span>
                </label>
                <div class="payment-head-coll ">
                    <div class="payment-row-img">
                        <img src="./assets/img/ApplePay.svg" alt="">
                    </div>

                </div>
            </div>
            <div class="payment-box-body">
                <div class="payment__row-title">
                    Card number
                </div>
                <input class="popup-input payment-input -one" type="text" maxlength="16"
                    placeholder="0000 0000 0000 0000">
                <div class="payment-row">
                    <div class="payment-row-coll">
                        <div class="payment__row-title">
                            Expiry date
                        </div>
                        <input class="number-card popup-input payment-input" maxlength="4" type="text"
                            placeholder="mm/yy">

                    </div>
                    <div class="payment-row-coll">
                        <div class="payment__row-title">
                            CVC
                        </div>
                        <input class="popup-input payment-input" type="text" maxlength="3" placeholder="000">
                    </div>
                </div>
            </div>
        </div>

        <label class="payment-label">
            <input type="checkbox" class="payment-label-checkbox">
            <span class="payment-label-span">
                Save this card information
            </span>
        </label>
        <button class="btn payment-btn">
            Save
        </button>
    </div>
</div>