<section class="peculiarities">
    <div class="container peculiarities_contain">
        <div class="peculiarities__wrapp">
            <div class="peculiarities__coll">
                <h2 class="title peculiarities__wrapp-title">

                    Our Features
                    special for you

                </h2>

                <a href='#' class="peculiarities__box-content">
                    <div class="peculiarities__box-title">
                        <img src="./assets/img/pin.svg" alt="">
                        Activities near you
                    </div>
                    <div class='peculiarities__box-text'>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation
                    </div>

                </a>

                <a href='#' class="peculiarities__box-content">
                    <div class="peculiarities__box-title">
                        <img src="./assets/img/pin.svg" alt="">
                        Best courts in Spain
                    </div>
                    <div class='peculiarities__box-text '>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequa
                    </div>
                </a>

                <a href='#' class="peculiarities__box-content">
                    <div class="peculiarities__box-title">
                        <img src="./assets/img/pin.svg" alt="">
                        Easy Search
                    </div>
                    <div class='peculiarities__box-text'>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation
                    </div>
                </a>
                <div class="peculiarities-btn-wrapper">
                    <a href="#" class="btn peculiarities-btn">
                        Book Now
                    </a>
                </div>
            </div>
            <div class="peculiarities__coll two">
                <div class="peculiarities__box-img one">
                    <img src="./assets/img/img-1.jpg" alt="">
                </div>
                <div class="peculiarities__coll-inner">
                    <div class="peculiarities__box-img two">
                        <img src="./assets/img/img-2.jpg" alt="">
                    </div>
                    <div class="peculiarities__box-img three">
                        <img src="./assets/img/img-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>