<div class="player_filter-head">
    <div class="container player_filte-container">
        <div class="player_filter-title">
            Player finder
        </div>

    </div>
</div>
<div class="player_filter">
    <div class="container player_filte-container">
        <div class="player_filter-wrapp">
            <div class="player_filter-box one autocomplete-box">
                <div class="player__filter-box-title">
                    Location
                </div>
                <input class="main-form-input location" type="text" placeholder="Barcelona">
            </div>
            <div class="player_filter-box two">
                <div class="player__filter-box-title">
                    Gender
                </div>
                <div class="select player_filter-select">
                    <div class="select__header">
                        <div class="fon"></div>
                        <input class="select__current" type="text" placeholder="Any Gender">
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            male
                        </div>
                        <div class="select__item">
                            female
                        </div>
                        <div class="select__item">
                            don’t mind
                        </div>
                    </div>
                </div>
            </div>
            <div class="player_filter-box three">
                <div class="player__filter-box-title">
                    Partner age
                </div>
                <div class="select player_filter-select">

                    <div class="select__header">
                        <div class="fon"></div>
                        <input class="select__current" type="text" placeholder="18-50">
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            don’t mind
                        </div>
                        <div class="select__item">
                            18-50
                        </div>
                        <div class="select__item">
                            50+
                        </div>
                    </div>
                </div>
            </div>
            <div class="player_filter-box four">
                <div class="player__filter-box-title">
                    Skill level
                </div>
                <div class="select player_filter-select">
                    <div class="select__header">
                        <div class="fon"></div>
                        <input class="select__current" type="text" placeholder="Advanced">
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            begginer
                        </div>
                        <div class="select__item">
                            intermidiate
                        </div>
                        <div class="select__item">
                            advanced
                        </div>
                        <div class="select__item">
                            semi-professional
                        </div>
                    </div>
                </div>
            </div>
            <div class="player_filter-box five">
                <div class="player__filter-box-title">
                    Availability
                </div>
                <div class="select player_filter-select">
                    <div class="select__header">
                        <div class="fon"></div>
                        <input class="select__current" type="text" placeholder="Available anytime">
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            Weekends only
                        </div>
                        <div class="select__item">
                            anytime
                        </div>
                        <div class="select__item">
                            Weekdays only
                        </div>
                    </div>
                </div>

            </div>
            <button class="player__filter-btn btn">
                Search partner
            </button>
            <button class="fillter-btn player__reset-btn">
                Reset filters
            </button>
        </div>
    </div>
</div>