<div class="player">
    <div class="container player_container">
        <div class="player__wrapper">

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-1.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card ">
                <div class="player-box ">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-2.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.
                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-3.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-1.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-4.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-5.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-6.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-7.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-8.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-1.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-1.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-1.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-6.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-7.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="player-card">
                <div class="player-box">
                    <div class="player-avatar">
                        <img class="player-avtar-img" src="./assets/img/player-8.png" alt="">
                    </div>
                    <div class="player-box-container">
                        <div class="player-box-row">
                            <div class="player-row-coll">
                                <div class="player-name">
                                    MikeWazowski
                                </div>
                                <div class="player-year">
                                    23 years old
                                </div>
                            </div>
                            <a href="#popup-player" class="popup-content player-link">
                                Message me
                            </a>
                        </div>
                        <div class="player-place">
                            Barcelona
                        </div>
                        <div class="player-text">
                            Looking to play tennis - intermediate level, 32yrs old, single or doubles, not too
                            competitive, just some fun - male or female. Ideally around hackney - haggerston park/London
                            fields/beth grn/clissold park.

                            <span class="player-text-btn">
                                <span class="player-text-hide">
                                    Hide
                                </span>
                                <span class="player-text-more">
                                    More
                                </span>
                            </span>
                        </div>
                        <div class="player-status-box">
                            <div class="player-status-info">
                                advanced
                            </div>
                            <div class="player-status-info">
                                Weekends only
                            </div>
                            <div class="player-status-info">
                                Male
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>