<div id='popup-player' class="popup-player mfp-hide">
    <div class="popup-player-head">
        <div class="popup__player-row">
            Send message to ...
            <button class="popup-close">
                <img src="./assets/img/cross.svg" alt="">
            </button>
        </div>
        <div class="popup__player-row two">
            <div class="player-avatar green">
                <img class="player-avtar-img" src="./assets/img/player-2.png" alt="">
            </div>
            <div class="popup__player-coll">
                <div class="player-name">
                    MikeWazowski
                </div>
                <div class="player-status">
                    Active
                </div>
            </div>
        </div>
    </div>
    <div class="chat">
        <div class="chat__wrapper">
            <div class="window__chat">
                <div class="chat__row incoming">
                    <div class="chat-dialog">
                        <div class="chat-text">
                            Hi
                        </div>
                        <div class="chat-time">
                            11:31 AM <img class="chat-text-ok" src="./assets/img/chat-icon.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="chat-row-foto">
                    <div class="chat-avatar">
                        <img class="chat-avtar-img" src="./assets/img/player-2.png" alt="">
                    </div>
                    <div class="chat__row response">
                        <div class="chat-dialog">
                            <div class="chat-text">
                                <div class="chat-write-indicator">
                                    <div class="chat-inducator-circle one"></div>
                                    <div class="chat-inducator-circle two"></div>
                                    <div class="chat-inducator-circle three"></div>
                                </div>
                            </div>
                            <div class="chat-time">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__input">
            <button class="chat-smail">
                <img src="./assets/img/smiley.svg" alt="">
            </button>
            <textarea class="chat-textarea" placeholder=" Start typing..."></textarea>
            <button class="chat-enter btn">
                <img src="./assets/img/chat-arrow.svg" alt="">
            </button>
        </div>
    </div>
</div>