<div class="quest">
    <div class="quest-title">
        What availability do you have?
    </div>
    <div class="quest-row">
        <label class="quest__label">
            <input class="quest__label-radio" name="only" type="radio" checked>
            <span class="quest__label-span">
                Weekends only
            </span>
        </label>
        <label class="quest__label">
            <input class="quest__label-radio" name="only" type="radio">
            <span class="quest__label-span">
                Weekdays only
            </span>
        </label>
        <label class="quest__label">
            <input class="quest__label-radio" name="only" type="radio">
            <span class="quest__label-span">
                Available anytime
            </span>
        </label>
    </div>
    <div class="quest-title">
        Your skill level
    </div>
    <div class="quest-row">
        <label class="quest__label">
            <input class="quest__label-radio" name="skill" type="radio" checked>
            <span class="quest__label-span">
                intermediate
            </span>
        </label>
        <label class="quest__label">
            <input class="quest__label-radio" name="skill" type="radio">
            <span class="quest__label-span">
                beginner
            </span>
        </label>
        <label class="quest__label">
            <input class="quest__label-radio" name="skill" type="radio">
            <span class="quest__label-span">
                advanced
            </span>
        </label>
        <label class="quest__label">
            <input class="quest__label-radio" name="skill" type="radio">
            <span class="quest__label-span">
                semi-professional
            </span>
        </label>
    </div>

    <div class="quest-row">
        <div class="quest-row-coll">
            <div class="quest-title">
                Your age
            </div>
            <input class="popup-input quest-input" type="number">
        </div>
        <div class="quest-row-coll">
            <div class="quest-title">
                Partner age
            </div>
            <div class="select quest-select">
                <div class="select__header">
                    <span class="select__current">
                        don't mind
                    </span>
                </div>
                <div class="select__body">
                    <div class="select__item">
                        don't mind
                    </div>
                    <div class="select__item">
                        don't mind
                    </div>
                    <div class="select__item">
                        don't mind
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="quest-title -textarea-title">
        Describe yourself and what you're looking for
    </div>
    <textarea class="quest-textarea"></textarea>
    <button class="btn quest-btn">
        Save
    </button>

</div>