<div class="related">
    <div class="container related-container">
        <div class="related-title">
            Related articles
        </div>
        <div class="related-wrapp">
            <button class='related-next'>
                <span>
                    <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class='arrow-left-svg' fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 5C0 4.72386 0.223858 4.5 0.5 4.5L12.2929 4.5L9.14645 1.35355C8.95118 1.15829 8.95118 0.841708 9.14645 0.646446C9.34171 0.451183 9.65829 0.451183 9.85355 0.646446L13.8536 4.64645C14.0488 4.84171 14.0488 5.15829 13.8536 5.35355L9.85355 9.35355C9.65829 9.54882 9.34171 9.54882 9.14645 9.35355C8.95118 9.15829 8.95118 8.84171 9.14645 8.64645L12.2929 5.5L0.5 5.5C0.223858 5.5 0 5.27614 0 5Z"
                            fill="#A0A8B1" />
                    </svg>
                </span>
            </button>
            <div class="related-wrapp-slaider">
                <div>
                    <a href="#" class="blog__box --companies">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-4.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Winners make a habit of facturing positive
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --about">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-5.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Technology and Sport: Tech Can Get Everyone Active
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --companies">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-6.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Technology and Sport: Tech Can Get Everyone Active
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --news">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-7.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Winners make a habit of facturing positive
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --companies">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-4.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Winners make a habit of facturing positive
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --about">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-5.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Technology and Sport: Tech Can Get Everyone Active
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --companies">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-6.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Technology and Sport: Tech Can Get Everyone Active
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="#" class="blog__box --news">
                        <div class="blog__box-head">
                            <img src="./assets/img/blog-7.png" alt="">
                        </div>
                        <div class="blog__box-body">
                            <div class="blog__box-title">
                                Winners make a habit of facturing positive
                            </div>
                            <div class="blog__box-data">
                                <time datetime="2020-03-14">
                                    14 March 2020
                                </time>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>