<div class="related">
    <div class="container related-container">
        <div class="related-title">
            Related articles
        </div>
        <div class="related-wrapp">
            <a href="#" class="blog__box --companies">
                <div class="blog__box-head">
                    <img src="./assets/img/blog-4.png" alt="">
                </div>
                <div class="blog__box-body">
                    <div class="blog__box-title">
                        Winners make a habit of facturing positive
                    </div>
                    <div class="blog__box-data">
                        <time datetime="2020-03-14">
                            14 March 2020
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="blog__box --about">
                <div class="blog__box-head">
                    <img src="./assets/img/blog-5.png" alt="">
                </div>
                <div class="blog__box-body">
                    <div class="blog__box-title">
                        Technology and Sport: Tech Can Get Everyone Active
                    </div>
                    <div class="blog__box-data">
                        <time datetime="2020-03-14">
                            14 March 2020
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="blog__box --companies">
                <div class="blog__box-head">
                    <img src="./assets/img/blog-6.png" alt="">
                </div>
                <div class="blog__box-body">
                    <div class="blog__box-title">
                        Technology and Sport: Tech Can Get Everyone Active
                    </div>
                    <div class="blog__box-data">
                        <time datetime="2020-03-14">
                            14 March 2020
                        </time>
                    </div>
                </div>
            </a>

            <a href="#" class="blog__box --news">
                <div class="blog__box-head">
                    <img src="./assets/img/blog-7.png" alt="">
                </div>
                <div class="blog__box-body">
                    <div class="blog__box-title">
                        Winners make a habit of facturing positive
                    </div>
                    <div class="blog__box-data">
                        <time datetime="2020-03-14">
                            14 March 2020
                        </time>
                    </div>
                </div>
            </a>


        </div>
    </div>
</div>