<div class="search-box">
    <div class="container search__container ">
        <form action="/" class="main-form search-form">
            <div class="main-form-inner">
                <div class="main__form-box autocomplete-box">
                    <h3 class="main__form-title">
                        Address, name...
                    </h3>
                    <input class="main-form-input address" type="text" placeholder="Padel Sant Marti">
                </div>
                <div class="main__form-box box-two autocomplete-box">
                    <h3 class="main__form-title">
                        Location
                    </h3>
                    <input class="main-form-input location" type="text" placeholder="Barcelona">
                </div>
                <div class="main__form-box --flex ">
                    <div class="main__box-inner calendar">
                        <h3 class="main__form-title">
                            Date
                        </h3>
                        <input class="main-form-input input-date " type="text" value="10/11/2022">
                        {{>calendar}}
                    </div>
                    <div class="main__box-inner time">
                        <h3 class="main__form-title">
                            Time
                        </h3>
                        <input class="main-form-input input-time" type="text" value="17:30">
                        <div class="time__container">
                            <div class="time__container-wrapp">
                                <div class="time__box"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn main-btn">
                Search
            </a>
        </form>
    </div>
</div>