<div class="statistics statistics-about">
    <div class="container">
        <div class="statistics__wrapp">
            <div class="statistics__box">
                <div class="statistics__box-title">
                    +2,900
                </div>
                <div class="statistics__box-subtitle">
                    sport clubs
                </div>
            </div>

            <div class="statistics__box">
                <div class="statistics__box-title">
                    +9 800
                </div>
                <div class="statistics__box-subtitle">
                    tennis courts
                </div>
            </div>

            <div class="statistics__box">
                <div class="statistics__box-title">
                    +1M
                </div>
                <div class="statistics__box-subtitle">
                    players
                </div>
            </div>

            <div class="statistics__box">
                <div class="statistics__box-title">
                    +1000
                </div>
                <div class="statistics__box-subtitle">
                    satysfied players
                </div>
            </div>
        </div>
    </div>
</div>