<div class="what">
    <div class="container">
        <div class="top__wrapp-title what__wrapp-title">
            <div class="top-title">
                What’s new
            </div>
            <a class="top-btn btn" href="#">
                Go to blog
            </a>
        </div>
        <div class="what__wrapp">

            <a href='#' class="what__box one">
                <div class="what__data">
                    <time datetime="2020-03-14">
                        14 March 2020
                    </time>
                </div>
                <div class="what__body">
                    <div class="what__body-title">
                        Winners make a habit of facturing positive
                    </div>
                    <div class="what__body-container">
                        <div class="what__body-text">
                            Lorem ipsum is simply dummy text printing typesetting industry lorem ipsum been dummy..
                        </div>
                        <div class="what__body-link">
                            learn more
                        </div>
                    </div>
                </div>
            </a>

            <a href='#' class="what__box">
                <div class="what__data">
                    <time datetime="2020-03-14">
                        14 March 2020
                    </time>
                </div>
                <div class="what__body">
                    <div class="what__body-title">
                        Winners make a habit of facturing positive
                    </div>
                    <div class="what__body-container">
                        <div class="what__body-text">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit.
                        </div>
                        <div class="what__body-link">
                            learn more
                        </div>
                    </div>
                </div>

            </a>

            <a href='#' class="what__box two text_none">
                <div class="what__data">
                    <time datetime="2020-03-14">
                        14 March 2020
                    </time>
                </div>
                <div class="what__body">
                    <div class="what__body-title">
                        Winners make a habit of facturing positive
                    </div>
                    <div class="what__body-container">
                        <div class="what__body-link">
                            learn more
                        </div>
                    </div>
                </div>

            </a>

            <a href='#' class="what__box three">
                <div class="what__data">
                    <time datetime="2020-03-14">
                        14 March 2020
                    </time>
                </div>
                <div class="what__body">
                    <div class="what__body-title">
                        Winners make a habit of facturing positive
                    </div>
                    <div class="what__body-container">
                        <div class="what__body-text">
                            Lorem ipsum is simply dummy text printing typesetting industry lorem ipsum been dummy..
                        </div>
                        <div class="what__body-link">
                            learn more
                        </div>
                    </div>
                </div>

            </a>





        </div>
    </div>
</div>