<div class="who">
    <div class="container">
        <div class="who__wrapp">
            <div class="who__coll">
                <div class="title who-title">
                    Who we are
                </div>
                <div class="text who__text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia
                </div>
                <div class="text who__text">
                    consequat duis enim velit mollit. Exercitation Amet minim mollit non deserunt ullamco est sit aliqua
                    dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation consequat duis enim
                    velit mollit.
                </div>
                <div class="who__inner">
                    <a class="who-btn" href='#'>
                        <img class="who__bnt-img" src="./assets/img/google.png" alt="">
                    </a>
                    <a class="who-btn" href='#'>
                        <img class="who__bnt-img" src="./assets/img/apple.png" alt="">
                    </a>

                </div>
            </div>
            <div class="who__coll-2">
                <img class="who-img" src="./assets/img/who.svg" alt="">
            </div>
        </div>
    </div>
</div>