/* vendor */
@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/jquery.mCustomScrollbar.scss";
@import "../sass/vendor/magnific-popup.scss";
@import "../sass/vendor/slick.scss";
/* bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";

/* Default style */
html {
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: #e5e5e5;
    overflow: hidden;
}

.background-fon {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s all ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
}

.background-fon.active {
    z-index: 3;
}

.stop {
    overflow: hidden;
}

.btn {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    background: #ebeff3;
    &:hover {
        background: #c2e631;
    }
}

@media (min-width: 1400px) {
    .header__container.container {
        max-width: 1574px;
        padding-left: 31px;
    }
    .container {
        max-width: 1440px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/* blocks */
@import "../sass/blocks/select.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/menu.scss";
@import "../sass/blocks/autocomplete.scss";
@import "../sass/blocks/timepick.scss";
@import "../sass/blocks/calendare.scss";
