/* vendor */
@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/jquery.mCustomScrollbar.scss";
@import "../sass/vendor/magnific-popup.scss";
@import "../sass/vendor/slick.scss";
@import "../sass/vendor/clndr.scss";
/* bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";

/* Default style */
html {
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: #f3f4f7;
    overflow: hidden;
}
.page.f0f3f8 {
    background: #f0f3f8;
}
.page.f9f9fa {
    background: #f9f9fa;
}

.page.fdfdff {
    background: #fdfdff;
}
p {
    text-align: left;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: normal;
    line-height: 110%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
.background-fon {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s all ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
}

.background-fon.active {
    z-index: 3;
}

.stop {
    overflow: hidden;
}

input:focus,
input:active {
    outline-color: #404040;
}

.password-box {
    position: relative;
}

.input-password {
    width: 100%;
    height: 44px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 150%;
    color: #3a3f43;

    padding: 12px 50px 12px 15px;
}

.password-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 21px;
    transform: translateY(-50%);
    right: 10px;
    background: none;
}

.password-btn.--active {
    &::before {
        content: "";
        height: 2px;
        width: 18px;
        background: #424551;
        position: absolute;
        transform: rotate(-45deg);
    }
}
.password-btn {
    border: none;
    outline: none;
}

input {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

.input-email.error,
.input-password.error {
    border: 1px solid #ee505a;
}
.error-text {
    font-size: 14px;
    line-height: 22px;
    color: #ee505a;
    opacity: 0;
}

.input-email.error + .error-text,
.input-password.error + .error-text {
    opacity: 1;
}

.input-email {
    width: 100%;
    height: 44px;
    padding: 11px 16px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 150%;
    color: #3a3f43;
    &::placeholder {
        color: #a0a8b1;
    }
}

.btn {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2e2d2d;
    background: #c2e631;

    &:hover {
        background: #dff584;
    }
}

.title {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 117.52%;
    color: #2e2d2d;
}

.text {
    font-weight: normal;
    font-size: 1rem;
    line-height: 163.02%;
    color: #6c757d;
}
@media (min-width: 1400px) {
    .header__container.container {
        max-width: 1574px;
        padding-left: 31px;
    }
    .container.search__container {
        max-width: 1600px;
    }
    .header_white .container {
        padding-right: 50px;
    }
    .container.filter-container {
        max-width: 1557px;
        padding-right: 98px;
    }
    .container.main__container {
        max-width: 1438px;
    }
    .container.result-container {
        max-width: 1557px;
    }
    .peculiarities_contain.container {
        max-width: 1477px;
    }
    .container.finder__container {
        max-width: 1359px;
    }
    .container {
        max-width: 1470px;
    }
    .container.player_filte-container {
        max-width: 1572px;
    }
    .container.player_container {
        max-width: 1530px;
    }
    .container.blog__head-contain,
    .container.article-container,
    .container.related-container,
    .container.profile-container {
        max-width: 1540px;
    }
    .container.article-container,
    .container.profile-container {
        padding-right: 85px;
    }
    .footer__two .container.footer-wrapp {
        max-width: 1540px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/* blocks */
@import "../sass/blocks/select.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/menu.scss";
@import "../sass/blocks/autocomplete.scss";
@import "../sass/blocks/timepick.scss";
@import "../sass/blocks/calendare.scss";
@import "../sass/blocks/slaider__option.scss";
@import "../sass/blocks/company.scss";
@import "../sass/blocks/peculiarities.scss";
@import "../sass/blocks/top.scss";
@import "../sass/blocks/statistics.scss";
@import "../sass/blocks/finder.scss";
@import "../sass/blocks/who.scss";
@import "../sass/blocks/what.scss";
@import "../sass/blocks/artic.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/search.scss";
@import "../sass/blocks/filter.scss";
@import "../sass/blocks/checkbox.scss";
@import "../sass/blocks/result.scss";
@import "../sass/blocks/map.scss";
@import "../sass/blocks/player_filter.scss";
@import "../sass/blocks/player.scss";
@import "../sass/blocks/show_more.scss";
@import "../sass/blocks/chat.scss";
@import "../sass/blocks/blog__header.scss";
@import "../sass/blocks/blog.scss";
@import "../sass/blocks/article.scss";
@import "../sass/blocks/related.scss";
@import "../sass/blocks/about.scss";
@import "../sass/blocks/statistics-about.scss";
@import "../sass/blocks/benefit.scss";
@import "../sass/blocks/best.scss";
@import "../sass/blocks/brands.scss";
@import "../sass/blocks/popup.scss";
@import "../sass/blocks/popup-player.scss";
@import "../sass/blocks/popup-sign.scss";
@import "../sass/blocks/profile.scss";
@import "../sass/blocks/sidebar.scss";
@import "../sass/blocks/sidebar__right-head.scss";
