/* vendor */
@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";

/* bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";

/* Default style */
html {
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: #e5e5e5;
}
@media (min-width: 1400px) {
    .header__container.container {
        max-width: 1574px;
        padding-left: 31px;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}

/* blocks */
@import "../sass/blocks/select.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/menu.scss";
